<div class="bg-white">
    <div
        class="digital-service-chart-heading-container mt-4 block lg:flex justify-content-between align-items-center bg-white px-4 pt-3 border-round"
    >
        <h3>
            <ng-container [ngSwitch]="chartType()">
                <ng-container *ngSwitchCase="'bar'">
                    {{
                        barChartChild
                            ? selectedDetailName
                            : getTNSTranslation(selectedParam)
                    }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                    {{ getCriteriaTranslation(selectedCriteria) }}
                </ng-container>
            </ng-container>
        </h3>
        <p-button
            (onClick)="filterSidebarVisible = true"
            styleClass="p-button-secondary-blue uppercase"
            id="filter"
            icon="pi pi-filter"
            [label]="'digital-services.configure-view' | translate"
            [ariaLabel]="'digital-services.configure-view' | translate"
        ></p-button>
    </div>
    <div class="footprint-digital-dashboard-container grid px-2">
        <div
            class="bg-white"
            [ngClass]="!isCollapsed ? 'col-12 lg:col-4' : 'col-fixed w-7rem'"
        >
            <div class="bg-gray-color impact-buttons-div mx-auto mb-4 border-round-lg">
                <div
                    class="flex align-items-center"
                    [ngClass]="
                        !isCollapsed
                            ? 'justify-content-between'
                            : 'justify-content-center'
                    "
                >
                    @if (!isCollapsed) {
                        <h3 class="text-base font-semibold p-2 pt-3 mt-2 mb-1 uppercase">
                            {{ "digital-services.impacts" | translate }}
                        </h3>
                        <p-button
                            (onClick)="isCollapsed = true"
                            styleClass=" cancel-creation-button border-none mr-3 px-3 py-2 mb-3 sm:mb-0"
                            icon="pi pi-angle-double-right"
                            id="collapse-button"
                            [outlined]="false"
                        />
                    } @else {
                        <p-button
                            (onClick)="isCollapsed = false"
                            styleClass=" cancel-creation-button  border-none  px-3 py-2 my-3"
                            icon="pi pi-angle-double-left"
                            id="expand-button"
                            [outlined]="false"
                        />
                    }
                </div>
                <div class="flex flex-column w-full border-round">
                    @for (impact of impacts; track $index) {
                        <app-impact-button
                            [impact]="impact.name"
                            [impactText]="impact.title"
                            [impactUnite]="impact.unite"
                            [value]="
                                selectedUnit === 'Peopleeq' ? impact.peopleeq : impact.raw
                            "
                            [selectedCriteria]="selectedCriteria"
                            [selectedUnit]="selectedUnit"
                            [disabled]="onlyOneCriteria"
                            (selectedCriteriaChange)="handleChartChange($event)"
                            [isCollapsed]="isCollapsed"
                        ></app-impact-button>
                    }

                    @if (userService.isAllowedDigitalServiceWrite$ | async) {
                        <div class="mt-4 mb-2 text-center">
                            <p-button
                                (onClick)="displayPopupFct()"
                                styleClass="cancel-creation-button uppercase px-3 py-2 mb-3 sm:mb-0"
                                [label]="
                                    (!isCollapsed ? 'digital-services.edit-criteria' : '')
                                        | translate
                                "
                                icon="pi pi-plus-circle"
                                id="criteria-button"
                                [ariaLabel]="
                                    'digital-services.choose-criteria'
                                        | translate
                                            : { digitalServiceName: digitalService.name }
                                "
                            />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div
            class="digital-service-chart-container mt-3 mb-5 bg-gray-color"
            [ngClass]="!isCollapsed ? 'col-12 lg:col-8' : 'col'"
        >
            <div class="bg-white m-3 pb-3">
                <ng-template [ngTemplateOutlet]="dataConsistencyRef"></ng-template>
                <ng-container [ngSwitch]="chartType()">
                    <div *ngSwitchCase="'bar'" class="flex">
                        @if (barChartChild) {
                            <p-button
                                (onClick)="barChartChild = false"
                                styleClass="color-tertiary font-semibold p-2"
                                [text]="true"
                                icon="pi pi-arrow-left"
                                [aria-label]="
                                    getCriteriaTranslation(selectedCriteria) +
                                    ' / ' +
                                    getTNSTranslation(selectedParam)
                                "
                                [label]="
                                    getCriteriaTranslation(selectedCriteria) +
                                    ' / ' +
                                    getTNSTranslation(selectedParam)
                                "
                            />
                        } @else {
                            <p-button
                                (onClick)="chartType.set('pie')"
                                styleClass="color-tertiary font-semibold p-2"
                                [text]="true"
                                icon="pi pi-arrow-left"
                                [aria-label]="getCriteriaTranslation(selectedCriteria)"
                                [label]="getCriteriaTranslation(selectedCriteria)"
                            />
                        }
                    </div>
                    <div *ngSwitchCase="'pie'" class="flex">
                        <p-button
                            *ngIf="!onlyOneCriteria"
                            (onClick)="
                                chartType.set('radial');
                                selectedCriteria = 'Global Vision'
                            "
                            styleClass="color-tertiary font-semibold p-2"
                            [text]="true"
                            icon="pi pi-arrow-left"
                            [aria-label]="
                                'criteria-title.global-vision.title' | translate
                            "
                            [label]="'criteria-title.global-vision.title' | translate"
                        />
                    </div>
                </ng-container>
                <div
                    *ngIf="noData; else chart"
                    class="no-data-round no-data-digital-service"
                >
                    <p class="grey-text text-round-empty">
                        {{ "common.no-data" | translate }}
                    </p>
                </div>

                <ng-template #chart>
                    <app-radial-chart
                        *ngIf="chartType() == 'radial'"
                        [globalVisionChartData]="globalVisionChartData"
                        [selectedCriteria]="selectedCriteria"
                        [showInconsitency]="showInconsitency"
                        (selectedCriteriaChange)="handleChartChange($event)"
                        [enableDataInconsistency]="digitalService.enableDataInconsistency"
                    ></app-radial-chart>
                    <app-pie-chart
                        *ngIf="chartType() == 'pie'"
                        [globalVisionChartData]="globalVisionChartData"
                        [selectedCriteria]="selectedCriteria"
                        [showInconsitency]="showInconsitency"
                        (selectedParamChange)="selectedParam = $event"
                        (chartTypeChange)="chartType.set($event)"
                        (topPieThreeImpacts)="topPieThreeImpacts = $event"
                        [enableDataInconsistency]="digitalService.enableDataInconsistency"
                    ></app-pie-chart>
                    <app-bar-chart
                        *ngIf="chartType() == 'bar'"
                        [barChartChild]="barChartChild"
                        [selectedParam]="selectedParam"
                        [selectedDetailParam]="selectedDetailParam"
                        [selectedDetailName]="selectedDetailName"
                        [selectedCriteria]="selectedCriteria"
                        [networkData]="networkData()"
                        [serverData]="serverData()"
                        [cloudData]="cloudData()"
                        [terminalData]="terminalData()"
                        [enableDataInconsistency]="digitalService.enableDataInconsistency"
                        [showInconsitency]="showInconsitency"
                        (barChartChildChange)="barChartChild = $event"
                        (selectedDetailParamChange)="selectedDetailParam = $event"
                        (selectedDetailNameChange)="selectedDetailName = $event"
                        (barChartTopThreeImpact)="barChartTopThreeImpact = $event"
                        (barChartTopThreeResourceImpact)="
                            barChartTopThreeResourceImpact = $event
                        "
                    ></app-bar-chart>
                </ng-template>
            </div>
            <app-graph-description
                [ecoMindRecomendation]="getEcoMindRecomendation()"
                [contentText]="getContentText()"
                [textDescriptionImpacts]="textDescriptionImpacts"
                [textDescriptionResourceImpacts]="textDescriptionResourceImpacts"
                [chartType]="chartType()"
                [barChartChild]="barChartChild"
                [selectedParam]="selectedParam"
                (impactSelectedEvent)="handleImpactClick($event)"
            ></app-graph-description>
        </div>
    </div>
    <ng-template #dataConsistencyRef>
        <div
            class="ml-auto block align-items-end lg:flex flex-row justify-content-end p-3"
        >
            @if (showInconsitencyBtn && digitalService.enableDataInconsistency) {
                <p-button
                    (onClick)="showInconsitency = !showInconsitency"
                    [rounded]="true"
                    [label]="'inventories-footprint.data-consistency' | translate"
                    [outlined]="!showInconsitency"
                    severity="danger"
                    class="ml-0 sm:ml-3"
                    [ariaLabel]="'inventories-footprint.data-consistency' | translate"
                />
            }
        </div>
    </ng-template>
    @if (displayCriteriaPopup) {
        <app-criteria-popup
            [displayPopup]="displayCriteriaPopup"
            [type]="'ds'"
            [organizationDetails]="organization"
            [workspaceDetails]="workspace"
            [ds]="digitalService"
            [selectedCriteriaIS]="selectedCriteriaPopup"
            (outSaveDS)="handleSaveDs($event)"
            (outClose)="displayCriteriaPopup = false"
        ></app-criteria-popup>
    }
</div>

@if (filterSidebarVisible) {
    <p-sidebar
        [(visible)]="filterSidebarVisible"
        position="right"
        styleClass="p-sidebar-md w-5"
        (onHide)="filterSidebarVisible = false"
    >
        <ng-template pTemplate="headless">
            <app-configure-view-filters
                (filtersApplied)="handleFilters($event)"
                (sidebarVisibleChange)="filterSidebarVisible = $event"
                [enableDataInconsistency]="digitalService.enableDataInconsistency"
                [selectedUnit]="selectedUnit"
            ></app-configure-view-filters>
        </ng-template>
    </p-sidebar>
}
