.logo-icon {
    z-index: 1000;
}

nav a:hover .nav-span-text {
    font-weight: 700;
    transition: 0.2s;
}

.ds-text {
    text-align: center;
    float: inline-start;
}

nav a {
    text-decoration: unset;
}

.span-font {
    font-size: 10px;
}

.extra-div {
    height: 24vh;
}

.home-padding {
    padding: 20px 27px;
}

.home-padding-zoomin {
    padding: 8px 26px;
}

.inventory-padding {
    padding: 20px 15px;
}

.inventory-padding-zoomin {
    padding: 8px 15px;
}

.digital-padding {
    padding: 20px 13px;
}

.digital-padding-zoomin {
    padding: 8px 13px;
}

.ecomind-padding {
    padding: 14px 7px;
}

.ecomind-padding-zoomin {
    padding: 7px;
}

.admin-padding {
    padding: 20px 7px;
}

.admin-padding-zoomin {
    padding: 8px 7px;
}

nav.left-sidebar-nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 450px) {
    nav.left-sidebar-nav {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.add-z-index {
    z-index: 101;
}
