<app-inventories-header-footprint
    [inventory]="inventory"
    [inventoryId]="inventoryId"
    [indicatorType]="'inventories.details.application' | translate | titlecase"
></app-inventories-header-footprint>
<dataviz-filter-application [allFilters]="filteredFilters()"></dataviz-filter-application>

<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 300px)' }">
    <div class="bg-white">
        <div class="flex justify-content-between align-items-center">
            <h2
                class="pt-3 pl-4 pb-2"
                attr.aria-label="{{
                    'inventories-footprint.application.graph-title-global' | translate
                }}"
            >
                {{
                    "inventories-footprint.global.global-vision-by"
                        | translate
                            : {
                                  variable:
                                      "inventories-footprint.global.criteria" | translate,
                              }
                }}
                ({{ "common.peopleeq-min" | translate }})
            </h2>
            @if (userService.isAllowedInventoryWrite$ | async) {
                <p-button
                    (onClick)="filterSidebarVisible = true"
                    styleClass="p-button-secondary-blue uppercase"
                    id="filter"
                    icon="pi pi-filter"
                    [label]="'digital-services.configure-view' | translate"
                    [ariaLabel]="'digital-services.configure-view' | translate"
                ></p-button>
            }
        </div>
        <div class="mb-3 footprint-dashboard-container-app-criteria grid">
            <div class="col-12 lg:col-4 bg-white">
                <div
                    class="bg-gray-color impact-buttons-div mx-auto mb-4 border-round-lg"
                >
                    <h3
                        class="border-bottom-2 border-primary text-base font-medium p-2 pt-3 text-center mt-2 mb-1 uppercase"
                    >
                        {{ "digital-services.impacts" | translate }}
                    </h3>
                    <p-card styleClass="mb-3">
                        <div class="text-center">
                            <button
                                class="border-none border-round-3xl py-2 px-3 mx-1 text-gray-900 font-semibold text-xs cursor-pointer"
                                [ngClass]="
                                    selectedUnit === 'Raw'
                                        ? 'bg-secondary'
                                        : 'bg-transparent'
                                "
                                (click)="selectedUnit = 'Raw'"
                            >
                                {{ "digital-services.raw" | translate }}
                            </button>

                            <button
                                class="border-none border-round-3xl py-2 px-3 mx-1 text-gray-900 font-semibold text-xs cursor-pointer"
                                [ngClass]="
                                    selectedUnit === 'Peopleeq'
                                        ? 'bg-secondary'
                                        : 'bg-transparent'
                                "
                                (click)="selectedUnit = 'Peopleeq'"
                            >
                                {{ "common.peopleeq" | translate }}
                            </button>
                        </div>
                    </p-card>
                    <div class="flex flex-column w-full border-round">
                        @for (impact of impacts(); track $index) {
                            <app-impact-button
                                [impact]="impact.name"
                                [impactText]="impact.title"
                                [impactUnite]="impact.unite"
                                [value]="
                                    selectedUnit === 'Peopleeq'
                                        ? impact.peopleeq
                                        : impact.raw
                                "
                                [selectedCriteria]="selectedCriteria"
                                [selectedUnit]="selectedUnit"
                                (selectedCriteriaChange)="handleChartChange($event)"
                            ></app-impact-button>
                        }
                        <!-- [disabled]="onlyOneCriteria"
                             -->

                        @if (userService.isAllowedInventoryWrite$ | async) {
                            <div class="mt-4 mb-2 text-center">
                                <p-button
                                    (onClick)="displayPopupFct()"
                                    styleClass="cancel-creation-button uppercase px-3 py-2 mb-3 sm:mb-0"
                                    [label]="'digital-services.edit-criteria' | translate"
                                    icon="pi pi-plus-circle"
                                    id="criteria-button"
                                    [ariaLabel]="
                                        'digital-services.choose-criteria'
                                            | translate
                                                : {
                                                      digitalServiceName: inventory.name,
                                                  }
                                    "
                                />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="chart-container col-12 lg:col-8 bg-gray-color mt-3">
                @if (footprintStore.applicationCriteria() === multiCriteria) {
                    <app-application-multicriteria-footprint
                        [filterFields]="filterFields"
                        [footprint]="footprint()"
                    ></app-application-multicriteria-footprint>
                } @else {
                    <app-application-criteria-footprint
                        [filterFields]="filterFields"
                        [footprint]="criteriaFootprint"
                        [selectedInventoryId]="inventoryId"
                        [allUnmodifiedFilters]="allUnmodifiedFilters()"
                    ></app-application-criteria-footprint>
                }
            </div>
        </div>
    </div>
</p-scrollPanel>

@if (displayPopup) {
    <app-criteria-popup
        [displayPopup]="displayPopup"
        [type]="'inventory'"
        [organization]="organization"
        [workspace]="workspace"
        [inventory]="inventory"
        [selectedCriteriaIS]="selectedCriterias"
        (outSaveInventory)="saveInventory($event)"
        (outClose)="displayPopup = false"
    ></app-criteria-popup>
}

@if (filterSidebarVisible) {
    <p-sidebar
        [(visible)]="filterSidebarVisible"
        position="right"
        styleClass="p-sidebar-md w-5"
        (onHide)="filterSidebarVisible = false"
    >
        <ng-template pTemplate="headless">
            <app-configure-view-filters
                (sidebarVisibleChange)="filterSidebarVisible = $event"
            ></app-configure-view-filters>
        </ng-template>
    </p-sidebar>
}
