<app-inventories-header-footprint
    [inventoryId]="inventoryId"
    [indicatorType]="'inventories.details.application' | translate | titlecase"
></app-inventories-header-footprint>
<dataviz-filter-application [allFilters]="filteredFilters()"></dataviz-filter-application>
@if (showTabMenu) {
    <p-tabMenu
        [model]="criteres!"
        styleClass="px-1"
        [scrollable]="true"
        class="footprint-tabmenu"
    ></p-tabMenu>
}
<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 280px)' }">
    @if (footprintStore.applicationCriteria() === multiCriteria) {
        <app-application-multicriteria-footprint
            [filterFields]="filterFields"
            [footprint]="footprint"
        ></app-application-multicriteria-footprint>
    } @else {
        <app-application-criteria-footprint
            [filterFields]="filterFields"
            [footprint]="criteriaFootprint"
            [selectedInventoryId]="inventoryId"
            [allUnmodifiedFilters]="allUnmodifiedFilters()"
        ></app-application-criteria-footprint>
    }
</p-scrollPanel>
