<div class="app-space">
    @if (spaceDetails && spaceDetails["menu"] && getValidMenu().length > 1) {
        <ul class="space-menu">
            @for (
                spaceMenu of spaceDetails["menu"];
                track $index;
                let panelIndex = $index
            ) {
                @if (!spaceMenu["hidden"]) {
                    <li
                        class="space-menu-item"
                        [ngClass]="{ active: spaceMenu.active }"
                        (click)="selectTab(panelIndex)"
                    >
                        <p class="space-menu-sub-title">{{ spaceMenu.subTitle }}</p>
                        <p class="space-menu-title">{{ spaceMenu.title }}</p>
                        <!-- Not valid field  OR  optional field with empty value -->
                        @if (
                            !spaceForm.get(spaceDetails["form"][panelIndex]["name"])
                                ?.valid ||
                            (spaceMenu["optional"] &&
                                (spaceForm.get(spaceDetails["form"][panelIndex]["name"])
                                    ?.value === "" ||
                                    spaceForm.get(
                                        spaceDetails["form"][panelIndex]["name"]
                                    )?.value === null))
                        ) {
                            <p class="space-menu-description">
                                {{ spaceMenu.description }}
                                <i [ngClass]="spaceMenu['iconClass']"></i>
                            </p>
                        } @else {
                            <!-- Mandatory valid field  OR  optional field without empty value -->
                            <p class="space-menu-description completed">
                                Completed
                                <i class="pi pi-check-circle"></i>
                            </p>
                        }
                    </li>
                }
            }
        </ul>
    }
    @if (spaceDetails && spaceDetails["form"]) {
        <div class="space-form">
            <h2>Create new workspace</h2>
            <p-button
                (onClick)="closeSidebar()"
                [link]="true"
                [rounded]="true"
                ariaLabel="Outlined Close Button"
                icon="pi pi-times"
                styleClass="space-sidebar-close-button text-black-alpha-60"
            ></p-button>
            <p class="mb-3">
                This workspace lets you run simulations and retrieve data. You can invite
                and manage contributors, edit and delete your workspace.
            </p>
            <hr />
            <form [formGroup]="spaceForm" class="mt-3">
                @for (
                    spaceDetail of spaceDetails["form"];
                    track $index;
                    let menuIndex = $index;
                    let lastIndex = $last
                ) {
                    <div
                        class="space-form--input"
                        [ngClass]="{
                            active: selectedMenuIndex === menuIndex,
                        }"
                    >
                        <label [for]="spaceDetail['name'] + '-' + menuIndex">{{
                            spaceDetail["label"]
                        }}</label>
                        <small
                            [id]="spaceDetail['name'] + '-' + menuIndex + '-help'"
                            class="help-text mt-2"
                            >{{ spaceDetail["hintText"] }}</small
                        >
                        @if (spaceDetail["type"] === "text") {
                            <input
                                pInputText
                                [id]="spaceDetail['name'] + '-' + menuIndex"
                                [attr.aria-describedby]="
                                    spaceDetail['name'] + '-' + menuIndex + '-help'
                                "
                                [placeholder]="spaceDetail['placeholder']"
                                [formControlName]="spaceDetail['name']"
                                class="mt-2"
                            />
                        }

                        @if (spaceDetail["type"] === "select") {
                            <p-dropdown
                                [formControlName]="spaceDetail['name']"
                                [placeholder]="spaceDetail['placeholder']"
                                class="w-full md:w-56"
                                styleClass="mt-2"
                                [options]="organizationlist"
                                optionLabel="name"
                                name="organizationName"
                                optionValue="id"
                            />
                        }

                        <div
                            class="space-form--button-group flex align-content-end justify-content-end flex-wrap"
                        >
                            <p-button
                                class="cancel-creation"
                                styleClass="cancel-creation-button"
                                (click)="closeSidebar()"
                                >Cancel Creation</p-button
                            >
                            @if (
                                menuIndex > 0 &&
                                !spaceDetails["menu"][menuIndex - 1]["hidden"]
                            ) {
                                <p-button
                                    styleClass="button-secondary"
                                    (click)="previousTab(menuIndex)"
                                    >Previous</p-button
                                >
                            }
                            <p-button
                                (click)="createSpace()"
                                [disabled]="spaceForm.invalid"
                                >Create Workspace</p-button
                            >
                            @if (!lastIndex) {
                                <p-button
                                    styleClass="button-secondary"
                                    (click)="nextTab(menuIndex)"
                                    >Next</p-button
                                >
                            }
                        </div>
                    </div>
                }
            </form>
        </div>
    }
</div>
