<p-button
    (onClick)="openFilterSidebar()"
    styleClass="p-button-secondary-blue uppercase mr-3"
    id="filter"
    [icon]="selectedFilterNames().length ? 'pi pi-filter-fill' : 'pi pi-filter'"
    [ariaLabel]="'inventories-footprint.filter-view' | translate"
></p-button>

@if (filterSidebarVisible) {
    <app-base-filter-sidebar
        [(visible)]="filterSidebarVisible"
        [localFilters]="localFilters"
        [tabs]="tabs"
        [allFilters]="allFilters"
        [translationKeyPrefix]="'inventories-footprint.filter-tabs'"
        (filtersApplied)="applyFilters()"
        (checkboxChanged)="
            onCheckboxChange($event.selectedValues, $event.tab, $event.selection)
        "
    >
    </app-base-filter-sidebar>
}
