<app-inventories-header-footprint
    [inventoryId]="inventoryId"
    [indicatorType]="'inventories.details.equipment' | translate | titlecase"
></app-inventories-header-footprint>

<dataviz-filter [allFilters]="allUnmodifiedFilters"></dataviz-filter>
@if (showTabMenu) {
    <p-tabMenu [model]="criteres!" [scrollable]="true" class="footprint-tabmenu">
    </p-tabMenu>
}
<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 280px)' }">
    @if (footprintStore.criteria() === multiCriteria) {
        <app-inventories-multicriteria-footprint
            [footprint]="allUnmodifiedFootprint"
            [filterFields]="filterFields"
            [datacenters]="allUnmodifiedDatacenters"
            [equipments]="allUnmodifiedEquipments"
            [inVirtualEquipments]="transformedInVirtualEquipments"
        ></app-inventories-multicriteria-footprint>
    } @else {
        <app-inventories-critere-footprint
            [footprint]="allUnmodifiedFootprint"
            [criteriaFootprint]="allUnmodifiedCriteriaFootprint"
            [filterFields]="filterFields"
            [datacenters]="allUnmodifiedDatacenters"
            [equipments]="allUnmodifiedEquipments"
            [inVirtualEquipments]="transformedInVirtualEquipments"
        ></app-inventories-critere-footprint>
    }
</p-scrollPanel>
