<div class="ml-auto block align-items-end lg:flex flex-row justify-content-end p-3">
    @if (footprintStore.appGraphType() !== "global") {
        <div class="inline">
            @if (showBackButton()) {
                <a
                    class="cursor-pointer m-0 text-xl color-tertiary"
                    tabindex="0"
                    (click)="onArrowClick()"
                    (keydown.enter)="onArrowClick()"
                    attr.aria-label="{{
                        'inventories-footprint.application.selected-infos' | translate
                    }}{{ footprintStore.appDomain() }}{{
                        footprintStore.appSubDomain()
                    }}{{ footprintStore.appApplication() }}"
                >
                    <p-image
                        src="assets/images/icons/icon-green-arrow-left.svg"
                        alt=""
                        styleClass="mr-2"
                    />
                    {{ "inventories-footprint.global.global-vision" | translate }}
                    {{
                        footprintStore.appGraphType() === "subdomain"
                            ? showDomainLabel()
                                ? " / " + footprintStore.appDomain()
                                : ""
                            : footprintStore.appGraphType() === "application"
                              ? (showDomainLabel()
                                    ? " / " + footprintStore.appDomain()
                                    : "") +
                                (!showDomainByApplication() && showSubDomainLabel()
                                    ? " / " + footprintStore.appSubDomain()
                                    : "")
                              : ""
                    }}
                </a>
            }
        </div>
    }
    <ng-template [ngTemplateOutlet]="dataConsistencyRef"></ng-template>
</div>
@if (showInconsitencyGraph) {
    @if (options().series && !noData()) {
        <app-stack-bar-chart
            [xAxisInput]="xAxisInput"
            [statusCountMap]="criteriaMap"
            (selectedStackBarClick)="selectedStackBarClick($event)"
        />
    } @else {
        <div class="no-data-bar">
            <p class="text-round-empty">{{ "common.no-data" | translate }}</p>
        </div>
    }
} @else {
    @if (noData()) {
        <div class="no-data-round">
            <p tabindex="0" class="text-round-empty">
                {{ "common.no-data" | translate }}
            </p>
        </div>
    } @else {
        <div
            id="graph"
            tabindex="0"
            echarts
            class="bar-stack m-0"
            [options]="options()"
            style="height: 53vh"
            (chartClick)="onChartClick($event)"
        ></div>
    }
}
<!-- <app-criteria-stats [footprint]="[footprint]"> </app-criteria-stats> -->
<app-application-criteria-pie-chart
    [footprint]="[footprint]"
></app-application-criteria-pie-chart>

<ng-template #dataConsistencyRef>
    @if (showDataConsistencyBtn && inventory()?.enableDataInconsistency) {
        <p-button
            (onClick)="showInconsitencyGraph = !showInconsitencyGraph"
            [rounded]="true"
            [label]="'inventories-footprint.data-consistency' | translate"
            [outlined]="!showInconsitencyGraph"
            severity="danger"
            class="ml-auto mt-3 mb-2"
            [ariaLabel]="'inventories-footprint.data-consistency' | translate"
        />
    }
</ng-template>
