<p-toast #toast position="bottom-center"></p-toast>
@if (sidebarVisible) {
    <p-sidebar
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="p-sidebar-md w-7"
        [showCloseIcon]="true"
        (onHide)="sidebarVisible = false"
        ariaCloseLabel="Close"
    >
        <app-common-editor
            [content]="digitalService.note?.content"
            [showButtons]="userService.isAllowedDigitalServiceWrite$ | async"
            (saveValue)="noteSaveValue($event)"
            (outClose)="sidebarVisible = $event"
            (delete)="noteDelete(); sidebarVisible = $event"
            styleClass="mx-7"
        >
        </app-common-editor>
    </p-sidebar>
}
<!-- Import Sidebar -->
@if (importSidebarVisible) {
    <p-sidebar
        [(visible)]="importSidebarVisible"
        position="right"
        styleClass="p-sidebar-lg"
        [showCloseIcon]="true"
        (onHide)="importSidebarVisible = false"
        ariaCloseLabel="Close"
        [fullScreen]="isZoom125()"
    >
        <ng-template pTemplate="headless">
            <app-digital-services-import
                (sidebarVisibleChange)="importSidebarVisible = $event"
            />
        </ng-template>
    </p-sidebar>
}

<p-confirmPopup [style]="{ width: '450px' }"></p-confirmPopup>
<div class="flex justify-content-between align-items-center flex-wrap">
    <div class="block relative w-full lg:w-auto lg:flex align-items-center">
        @if (!isSharedDs) {
            <p-button
                [routerLink]="changePageToDigitalServices()"
                styleClass="cancel-creation-button uppercase mr-2 mb-2 lg:mb-0"
                [ariaLabel]="'digital-services.return' | translate"
                icon="pi pi-arrow-left"
                [label]="'digital-services.back' | translate"
                id="return-button"
            />
        }

        @if (isMobile()) {
            <button
                class="kebab-div"
                (click)="
                    showKebabMenu = !showKebabMenu; digitalMobileOptionsChange.emit(true)
                "
                [ngClass]="{ 'kebab-div-green': showKebabMenu }"
                [attr.aria-label]="
                    (showKebabMenu
                        ? 'digital-services.hide-menu-buttons'
                        : 'digital-services.show-menu-buttons'
                    ) | translate
                "
            >
                <div
                    class="kebab-menu-icon mb-2 lg:mb-0"
                    [ngClass]="{ 'bg-white': showKebabMenu }"
                ></div>
            </button>
        }

        <div class="input-title flex align-items-center">
            <h2
                *ngIf="!(userService.isAllowedDigitalServiceWrite$ | async)"
                class="text-4xl px-2 color-black-seventy"
            >
                {{ digitalService.name }}
            </h2>
            <p-inplace
                *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                [closable]="true"
                [closeAriaLabel]="'digital-services.save-inplace' | translate"
                [preventClick]="digitalService.name === ''"
                (onDeactivate)="onNameUpdate(digitalService.name, true)"
                styleClass="inline-block w-auto color-black-seventy lg:w-18rem"
            >
                <ng-template pTemplate="display">
                    <h2 class="text-4xl px-2 color-black-seventy">
                        {{ digitalService.name }}
                    </h2>
                </ng-template>
                <ng-template pTemplate="content">
                    <input
                        type="text"
                        class="text-4xl font-semibold color-black-seventy px-2 mr-2 w-9"
                        pInputText
                        [(ngModel)]="digitalService.name"
                        [required]="true"
                    />
                </ng-template>
                <ng-template pTemplate="closeicon">
                    <i class="pi pi-check"></i>
                </ng-template>
            </p-inplace>
        </div>
        <i class="pi pi-angle-right text-2xl"></i>

        @if (!isManageVersions()) {
            <app-version-type-tag
                [versionType]="digitalService.versionType"
            ></app-version-type-tag>

            <div class="input-title flex align-items-center">
                <h2
                    *ngIf="!(userService.isAllowedDigitalServiceWrite$ | async)"
                    class="text-4xl px-2"
                >
                    {{ digitalService.description }}
                </h2>
                <p-inplace
                    *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                    [closable]="true"
                    [closeAriaLabel]="'digital-services.save-inplace' | translate"
                    [preventClick]="digitalService.description === ''"
                    (onDeactivate)="onNameUpdate(digitalService.description!, false)"
                    styleClass="inline-block w-auto  lg:w-18rem"
                >
                    <ng-template pTemplate="display">
                        <h2 class="text-4xl px-2">
                            {{ digitalService.description }}
                        </h2>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input
                            type="text"
                            class="text-4xl font-semibold px-2 mr-2 w-9"
                            pInputText
                            [(ngModel)]="digitalService.description"
                            [required]="true"
                        />
                    </ng-template>
                    <ng-template pTemplate="closeicon">
                        <i class="pi pi-check"></i>
                    </ng-template>
                </p-inplace>
            </div>
        } @else {
            <h2 class="ml-3">
                {{ "digital-services.version.versions-management" | translate }}
            </h2>
        }
    </div>
    @if ((showKebabMenu || !isMobile()) && !isManageVersions()) {
        <div class="mr-3 block align-items-center lg:flex">
            @if (false) {
                <p-button
                    (onClick)="goToManageVersions()"
                    styleClass="cancel-creation-button uppercase ml-1 mr-2 mb-3 lg:mb-0"
                    [ariaLabel]="'digital-services.version.manage-versions' | translate"
                    *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                    icon="pi pi-file"
                    [label]="'digital-services.version.manage-versions' | translate"
                    id="manage-versions"
                />
            }

            <p-button
                (onClick)="sidebarVisible = true"
                styleClass="cancel-creation-button uppercase mx-2 mb-3 lg:mb-0"
                [ariaLabel]="'common.accessibility.addNote' | translate"
                *ngIf="
                    !isEcoMindAi() &&
                    !digitalService.note &&
                    (userService.isAllowedDigitalServiceWrite$ | async)
                "
                icon="pi pi-plus-circle"
                [label]="'common.note.add' | translate"
                id="add-note"
            />

            <p-button
                (onClick)="sidebarVisible = true"
                styleClass="cancel-creation-button uppercase mx-2 mb-3 lg:mb-0"
                [ariaLabel]="'common.accessibility.attachedNote' | translate"
                *ngIf="!isEcoMindAi() && digitalService.note"
                icon="pi pi-clipboard"
                [label]="'common.note.attached' | translate"
            />

            @if (!isEcoMindAi() && (userService.isAllowedDigitalServiceWrite$ | async)) {
                <p-button
                    [ariaLabel]="
                        (digitalService.isShared
                            ? 'common.accessibility.shared'
                            : 'common.accessibility.share'
                        ) | translate
                    "
                    styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                    (onClick)="shareDs()"
                    icon="pi pi-share-alt"
                    [label]="
                        (digitalService.isShared
                            ? 'digital-services.shared'
                            : 'digital-services.share'
                        ) | translate
                    "
                />

                <p-button
                    [ariaLabel]="'common.accessibility.import' | translate"
                    styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                    (onClick)="importData()"
                    icon="pi pi-upload"
                    [label]="'digital-services.import' | translate"
                />
            }

            <p-button
                [ariaLabel]="'common.accessibility.download' | translate"
                styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                (onClick)="exportData()"
                *ngIf="
                    (userService.isAllowedDigitalServiceWrite$ | async) || isEcoMindAi()
                "
                [disabled]="digitalService.lastCalculationDate === undefined"
                icon="pi pi-download"
                [label]="'inventories-footprint.header.export' | translate"
            />
            @if (false) {
                <p-button
                    styleClass="header-blue-btn ml-2 mb-3 lg:mb-0"
                    icon="pi pi-clone"
                    *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                    id="duplicate-version"
                    [pTooltip]="'digital-services.version.duplicate-version' | translate"
                    tooltipPosition="bottom"
                    [ariaLabel]="'digital-services.version.duplicate-version' | translate"
                    (onClick)="duplicateDigitalServiceVersion()"
                >
                </p-button>
            }

            @if (digitalService.versionType !== "active") {
                <p-button
                    *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                    styleClass="header-delete-btn ml-2 mb-3 lg:mb-0"
                    (onClick)="confirmDelete($event)"
                    icon="pi pi-trash"
                    [ariaLabel]="
                        'digital-services.delete-criteria'
                            | translate: { digitalServiceName: digitalService.name }
                    "
                    id="delete-service"
                />
            }
        </div>
    }
</div>

@if (displayLinkCreatePopup && !global.loading()) {
    <app-link-create-popup
        [displayPopup]="displayLinkCreatePopup"
        (outClose)="displayLinkCreatePopup = false"
        (outExtendDate)="extendShareLinkDate()"
        [sharedLink]="shareLink"
        [expiryDate]="expiryDate"
    >
    </app-link-create-popup>
}
