<p-toast #toast position="bottom-center"></p-toast>
@if (sidebarVisible) {
    <p-sidebar
        [(visible)]="sidebarVisible"
        position="right"
        styleClass="p-sidebar-md w-7"
        [showCloseIcon]="true"
        (onHide)="sidebarVisible = false"
        ariaCloseLabel="Close"
    >
        <app-common-editor
            [content]="digitalService.note?.content"
            [showButtons]="userService.isAllowedDigitalServiceWrite$ | async"
            (saveValue)="noteSaveValue($event)"
            (close)="sidebarVisible = $event"
            (delete)="noteDelete(); sidebarVisible = $event"
            styleClass="mx-7"
        >
        </app-common-editor>
    </p-sidebar>
}
<!-- Import Sidebar -->
@if (importSidebarVisible) {
    <p-sidebar
        [(visible)]="importSidebarVisible"
        position="right"
        styleClass="p-sidebar-lg"
        [showCloseIcon]="true"
        (onHide)="importSidebarVisible = false"
        ariaCloseLabel="Close"
        [fullScreen]="isZoom125()"
    >
        <ng-template pTemplate="headless">
            <app-digital-services-import
                (sidebarVisibleChange)="importSidebarVisible = $event"
            />
        </ng-template>
    </p-sidebar>
}

<p-confirmPopup [style]="{ width: '450px' }"></p-confirmPopup>
<div class="flex justify-content-between align-items-center flex-wrap">
    <div class="block relative w-full lg:w-auto lg:flex align-items-center">
        <p-button
            [routerLink]="changePageToDigitalServices()"
            styleClass="cancel-creation-button uppercase mr-2 mb-2 lg:mb-0"
            [ariaLabel]="'digital-services.return' | translate"
            icon="pi pi-arrow-left"
            [label]="'digital-services.back' | translate"
            id="return-button"
        />
        @if (isMobile()) {
            <button
                class="kebab-div"
                (click)="showKebabMenu = !showKebabMenu"
                [ngClass]="{ 'kebab-div-green': showKebabMenu }"
            >
                <div
                    class="kebab-menu-icon mb-2 lg:mb-0"
                    [ngClass]="{ 'bg-white': showKebabMenu }"
                ></div>
            </button>
        }

        <div class="input-title flex align-items-center">
            <h2
                *ngIf="!(userService.isAllowedDigitalServiceWrite$ | async)"
                class="text-4xl px-2"
            >
                {{ digitalService.name }}
            </h2>
            <p-inplace
                *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                [closable]="true"
                [preventClick]="digitalService.name === ''"
                (onDeactivate)="onNameUpdate(digitalService.name)"
                styleClass="inline-block w-auto lg:w-30rem"
            >
                <ng-template pTemplate="display">
                    <h2 class="text-4xl px-2">
                        {{ digitalService.name }}
                    </h2>
                </ng-template>
                <ng-template pTemplate="content">
                    <input
                        type="text"
                        class="text-4xl font-semibold px-2 mr-2 w-11"
                        pInputText
                        [(ngModel)]="digitalService.name"
                        [required]="true"
                    />
                </ng-template>
                <ng-template pTemplate="closeicon">
                    <i class="pi pi-check"></i>
                </ng-template>
            </p-inplace>
        </div>
    </div>
    @if (showKebabMenu || !isMobile()) {
        <div class="mr-3 block align-items-center lg:flex">
            <p-button
                (onClick)="sidebarVisible = true"
                styleClass="cancel-creation-button uppercase ml-1 mb-3 lg:mb-0"
                [ariaLabel]="'common.accessibility.addNote' | translate"
                *ngIf="
                    !isEcoMindAi() &&
                    !digitalService.note &&
                    (userService.isAllowedDigitalServiceWrite$ | async)
                "
                icon="pi pi-plus-circle"
                [label]="'common.note.add' | translate"
                id="add-note"
            />

            <p-button
                (onClick)="sidebarVisible = true"
                styleClass="cancel-creation-button uppercase mb-3 lg:mb-0"
                [ariaLabel]="'common.accessibility.attachedNote' | translate"
                *ngIf="!isEcoMindAi() && digitalService.note"
                icon="pi pi-clipboard"
                [label]="'common.note.attached' | translate"
            />

            @if (!isEcoMindAi()) {
                <p-button
                    [ariaLabel]="'common.accessibility.import' | translate"
                    styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                    (onClick)="importData()"
                    *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                    icon="pi pi-upload"
                    [label]="'digital-services.import' | translate"
                />
            }

            <p-button
                [ariaLabel]="'common.accessibility.download' | translate"
                styleClass="p-button-secondary-blue uppercase mx-2 mb-3 lg:mb-0"
                (onClick)="exportData()"
                *ngIf="
                    (userService.isAllowedDigitalServiceWrite$ | async) || isEcoMindAi()
                "
                [disabled]="digitalService.lastCalculationDate === undefined"
                icon="pi pi-download"
                [label]="'inventories-footprint.header.export' | translate"
            />

            <p-button
                *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
                styleClass="header-delete-btn ml-2 mb-3 lg:mb-0"
                (onClick)="confirmDelete($event)"
                icon="pi pi-trash"
                [ariaLabel]="
                    'digital-services.delete-criteria'
                        | translate: { digitalServiceName: digitalService.name }
                "
                id="delete-service"
            />
        </div>
    }
</div>
