<div class="flex flex-wrap align-items-center">
    <h2
        attr.aria-label="{{
            'inventories-footprint.application.graph-title-global' | translate
        }}"
    >
        {{
            "inventories-footprint.global.global-vision-by"
                | translate
                    : {
                          variable: "inventories-footprint.global.criteria" | translate,
                      }
        }}
        ({{ "common.peopleeq-min" | translate }})
    </h2>
    @if (criteriaCalculated().hasError) {
        <p-button
            (onClick)="showInconsitencyGraph = !showInconsitencyGraph"
            [rounded]="true"
            [label]="'inventories-footprint.data-consistency' | translate"
            [outlined]="!showInconsitencyGraph"
            severity="danger"
            class="ml-auto mt-3 mb-2 pr-3"
            [ariaLabel]="'inventories-footprint.data-consistency' | translate"
        />
    }
    @if (!showInconsitencyGraph) {
        <p-card class="rmv-padding-card">
            <div class="round-button-container">
                <button
                    *ngFor="let dimension of dimensions"
                    [class.round-button-selected]="dimension === selectedDimension()"
                    [class.round-button]="dimension !== selectedDimension()"
                    (click)="selectedDimension.set(dimension)"
                >
                    {{
                        "inventories-footprint.application-round-button." + dimension
                            | translate
                    }}
                </button>
            </div>
        </p-card>
    }
</div>
@if (showInconsitencyGraph) {
    @if (options().series && applicationStats()[0].value) {
        <app-stack-bar-chart
            [xAxisInput]="xAxisInput"
            [statusCountMap]="criteriaCalculated().criteriasCount!"
        />
    } @else {
        <div class="no-data-bar">
            <p class="text-round-empty">{{ "common.no-data" | translate }}</p>
        </div>
    }
} @else {
    @if (applicationStats()[0].value) {
        <div
            role="img"
            attr.aria-label="{{
                'inventories-footprint.round-button.' + selectedDimension() | translate
            }} {{ 'inventories-footprint.global.global-vision' | translate }}"
            echarts
            class="m-0"
            (chartClick)="onChartClick($event)"
            [options]="options()"
            style="height: 480px"
        ></div>
    } @else {
        <div class="no-data-round">
            <p
                class="text-round-empty"
                tabindex="0"
                attr.aria-label="{{ 'common.no-data' | translate }}"
            >
                {{ "common.no-data" | translate }}
            </p>
        </div>
    }
}

<!-- <app-information-card
            [title]="'inventories-footprint.global.info-fis-title' | translate"
            [content]="'inventories-footprint.global.info-fis-text' | translate"
        ></app-information-card> -->
<app-stats
    [stats]="applicationStats()"
    icon="applications"
    [title]="'inventories-footprint.application.applications.title' | translate"
></app-stats>
