<app-digital-services-footprint-header [isCompareVersions]="true">
</app-digital-services-footprint-header>
<p-scrollPanel [style]="{ width: '100%', height: '100%' }">
    <div class="bg-white p-5 mt-3">
        <div class="h-full bg-gray-color p-4 pt-5">
            <div class="h-full bg-white grid">
                <div class="col-12 lg:col-6">
                    <h3 class="text-center">Version 1</h3>
                    @if (globalVisionChartData) {
                        <app-radial-chart
                            [globalVisionChartData]="globalVisionChartData"
                            [selectedCriteria]="'Global Vision'"
                            [showInconsitency]="false"
                            [enableDataInconsistency]="false"
                        ></app-radial-chart>
                    }
                </div>
                <div class="col-12 lg:col-6">
                    <h3 class="text-center">Version 2</h3>
                    @if (globalVisionChartData) {
                        <app-pie-chart
                            [globalVisionChartData]="globalVisionChartData"
                            [selectedCriteria]="'climate-change'"
                            [showInconsitency]="false"
                            [enableDataInconsistency]="false"
                        ></app-pie-chart>
                    }
                </div>
            </div>
            <app-graph-description
                [contentText]="getContentText()"
            ></app-graph-description>
        </div></div
></p-scrollPanel>
