<!-- <div
    class="bg-gray-100 flex justify-content-between align-items-center p-4 mb-4 rounded-md"
    (click)="toggleContentVisibility()"
>
    <button>
    <h3>Graph Description</h3>
    <button class="px-2 border-1 border-200 rounded">
        <i class="pi pi-angle-down"></i>
    </button>

</div> -->

<button
    class="w-full border-0 outline-0 flex justify-content-between align-items-center bg-gray-100 p-4"
    (click)="toggleContentVisibility()"
    [attr.aria-expanded]="contentVisible"
    [attr.aria-controls]="'accordion-content'"
>
    <h3 class="m-0 text-lg font-semibold">Graph Description</h3>
    <i
        class="pi"
        [ngClass]="{
            'pi-angle-down': !contentVisible,
            'pi-angle-up': contentVisible,
        }"
    ></i>
</button>

@if (contentVisible) {
    <section class="p-4 border">
        <h4 class="mb-0">Graph Overview</h4>
        <p>This section provides an overview of the graph's key insights and trends.</p>
        <hr />
        <h4 class="mb-0">Graph Overview</h4>
        <p>This section provides an overview of the graph's key insights and trends.</p>
        <hr />
        <h4 class="mb-0">Graph Overview</h4>
        <p>This section provides an overview of the graph's key insights and trends.</p>
        <hr />
        <h4 class="mb-0">Graph Overview</h4>
        <p>This section provides an overview of the graph's key insights and trends.</p>
        <hr />
        <h4 class="mb-0">Graph Overview</h4>
        <p>This section provides an overview of the graph's key insights and trends.</p>
    </section>
}
