.bg-gray-color {
    background-color: #f8f8f8;
}

.bg-lightest-gray-color {
    background-color: #f4f4f4;
}

.section-hr {
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0px;
}

.graph-description p,
.graph-description ul,
.graph-description li {
    font-size: 14px;
    line-height: 1.5;
}

.graph-description ul,
.graph-description li {
    margin: 0;
}

.blue-link {
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: -webkit-link;
    text-decoration: underline;
    margin-left: 3px;
}

.blue-link i {
    font-size: 9px;
}
