.bg-gray-color {
    background-color: #f8f8f8;
}

.bg-lightest-gray-color {
    background-color: #f4f4f4;
}

.section-hr {
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0px;
}

.graph-description p {
    line-height: 1.5;
}
