<div class="bg-lightest-gray-color p-4 m-3">
    <div
        class="py-3 w-full border-0 outline-0 flex justify-content-between align-items-center"
    >
        <h3 class="m-0 text-2xl font-semibold">Graph Description</h3>
        <p-button
            styleClass="cancel-creation-button"
            [icon]="contentVisible ? 'pi pi-angle-up' : 'pi pi-angle-down'"
            (onClick)="toggleContentVisibility()"
        >
        </p-button>
    </div>

    @if (contentVisible) {
        <section class="p-4 border bg-gray-color">
            @if (isAi()) {
                <h4 class="mb-0 font-semibold">
                    {{ title() | translate }}
                </h4>
                <p [innerHTML]="content()"></p>
            } @else {
                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.description" | translate }}
                </h4>
                <p [innerHTML]="contentText()?.description"></p>
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.scale" | translate }}
                </h4>
                <p [innerHTML]="contentText()?.scale"></p>
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.text-description" | translate }}
                </h4>
                <p [innerHTML]="contentText()?.textDescription"></p>
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.analysis" | translate }}
                </h4>
                <p [innerHTML]="contentText()?.analysis"></p>
                <div class="section-hr"></div>
                <h4 class="mb-0 font-semibold">
                    {{ "ds-description-heading.to_go_further" | translate }}
                </h4>
                <p [innerHTML]="contentText()?.toGoFurther"></p>
            }
        </section>
    }
</div>
