<p-table
    [value]="data"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="6"
    [paginator]="paginator"
    [sortField]="'name'"
    [sortOrder]="1"
>
    <ng-template pTemplate="caption">
        <div class="table-header flex justify-content-between align-items-center">

  <div class="table-head">
    {{ translationPrefix + "." + titleText | translate }}
  </div>

  <div class="flex align-items-center gap-2">

    <i
  *ngIf="compareMode"
  [pTooltip]="'recommendations.select_before_apply' | translate"
  tooltipPosition="top"
  class="pi pi-exclamation-circle text-2xl color-tertiary cursor-pointer"
></i>

    <p-button
      *ngIf="compareMode || (userService.isAllowedDigitalServiceWrite$ | async)"
      (onClick)="onMainButtonClick()"
      styleClass="p-button-secondary-blue uppercase"
      [id]="addButtonId"
      [icon]="compareMode ? 'pi pi-sliders-h' : 'pi pi-plus-circle'"
      [label]="
          compareMode
              ? ('common.compare' | translate)
              : ('common.add-button' | translate)
      "
      [pTooltip]="getCompareTooltip() ?? ''"
      tooltipPosition="top"
      [disabled]="compareMode && !hasSelectedItems()"
    ></p-button>

  </div>

</div>
    </ng-template>

    <ng-template pTemplate="header">
        <caption class="visually-hidden">
            {{
                translationPrefix + "." + titleText | translate
            }}
        </caption>
        <tr>
            
            @if (showId && !isMobileView()) {
                <th scope="col" id="id">
                    {{ "digital-services-terminals.id" | translate }}
                </th>
            }
            @if (isMobileView()) {
                <th scope="col" id="button-mobile">{{ "common.actions" | translate }}</th>
            }
            @for (header of headerFields; track $index) {
                <th scope="col" [pSortableColumn]="header" [id]="header">
                    {{ translationPrefix + "." + header | translate }}
                    <p-sortIcon [field]="header"></p-sortIcon>
                </th>
            }
            @if (!isMobileView()) {
                <th class="text-hidden" id="button">
                    {{ "common.button" | translate }}
                </th>
            }
             @if (selectable) {
                <th scope="col" class="text-center" style="width: 3rem">
                    @if (showSelectAll) {
                    <p-checkbox
                        binary="true"
                        [(ngModel)]="selectAll"
                        (onChange)="onSelectAllChange()"
                        inputId="selectAllHeader"
                    ></p-checkbox>
                    }
                </th>
                }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
        <tr>

           

            @if (showId && !isMobileView()) {
                <td class="grey-text">{{ rowIndex + 1 }}</td>
            }
            @if (isMobileView()) {
                <ng-template
                    [ngTemplateOutlet]="dataConsistencyRef"
                    [ngTemplateOutletContext]="{ data: data, rowIndex: rowIndex }"
                ></ng-template>
            }
            @for (header of headerFields; track $index) {
               <td>
  <ng-container [ngSwitch]="header">

    <!-- title / description -->
    <ng-container *ngSwitchCase="'title'">
      {{ translateOrFallback(data.title) }}
    </ng-container>

    <ng-container *ngSwitchCase="'description'">
      {{ translateOrFallback(data.description) }}
    </ng-container>

    <!-- difficulty -->
    <ng-container *ngSwitchCase="'implementationDifficulty'">
      {{ data.implementationDifficulty | translate }}
    </ng-container>

    <!-- categories  -->
    <ng-container *ngSwitchCase="'category'">
     {{ translateCategories(data.category) }}
    </ng-container>

    <!-- default -->
    <ng-container *ngSwitchDefault>
      {{ data[header] }}
    </ng-container>

  </ng-container>
</td>
            }
            @if (!isMobileView()) {
                <ng-template
                    [ngTemplateOutlet]="dataConsistencyRef"
                    [ngTemplateOutletContext]="{ data: data, rowIndex: rowIndex }"
                ></ng-template>
            }
            @if (selectable) {
            <td class="text-center">
                <p-checkbox
                [(ngModel)]="data.selected"
                binary="true"
                (onChange)="updateSelectAllState()"
                ></p-checkbox>
            </td>
            }
        </tr>
    </ng-template>
    <ng-template #dataConsistencyRef let-data="data" let-rowIndex="rowIndex">
        <td
            class="w-4rem"
            [ngStyle]="{ 'text-align': isMobileView() ? 'left' : 'right' }"
        >
            <div class="flex">
                @if (!hideActions && userService.isAllowedDigitalServiceWrite$ ) {
                    <p-button
                        (onClick)="doSetItem(data, rowIndex + 1); sidebarVisible(true)"
                        styleClass="p-button-text mx-1 p-1 pt-2"
                        ariaLabel="{{ 'common.edit' | translate }} {{
                            translationPrefix + '.' + accessibilityText | translate
                        }} {{ rowIndex + 1 }}"
                    >
                        <img
                            src="assets/images/icons/icon-edit.svg"
                            alt="{{ 'common.edit' | translate }} {{
                                translationPrefix + '.' + accessibilityText | translate
                            }} {{ rowIndex + 1 }}"
                    /></p-button>
                    <p-button
                        (onClick)="confirmDelete($event, data, rowIndex + 1)"
                        styleClass="p-button-text p-1"
                        ariaLabel="{{ 'common.delete' | translate }} {{
                            translationPrefix + '.' + accessibilityText | translate
                        }} {{ rowIndex + 1 }}"
                    >
                        <img
                            src="assets/images/icons/icon-bin.svg"
                            alt="{{ 'common.delete' | translate }} {{
                                translationPrefix + '.' + accessibilityText | translate
                            }} {{ rowIndex + 1 }}"
                    /></p-button>
                }
            </div>
        </td>
    </ng-template>
</p-table>
<p-confirmPopup [style]="{ width: '450px' }"></p-confirmPopup>
