.status-tag {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 4px 12px;

    border-radius: 4px;

    font-size: 16px;

    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    font-weight: 800;
    background: rgba(54, 66, 229, 0.08);
}

.status-tag .pi {
    font-size: 16px;
}

.draft-brown-color {
    color: #000;
    border: 1px solid #000;
    background: #f2f2f2;
}

.archived-yellow-color {
    color: #9a5200;
    border: 1px solid #9a5200;
    background: #fff4d6;
}
