<p-card styleClass="border-round border-primary border-top-3">
    <div class="flex">
        <div
            class="bg-primary border-circle flex align-items-start mb-2 w-2-5rem h-2-5rem"
        >
            <i class="pi pi-info-circle m-2 p-1 text-gray-900 text-lg"></i>
        </div>
        <div
            class="text-xl flex align-items-center mx-2"
            [innerHTML]="safeTitle()"
            role="heading"
            aria-level="3"
        ></div>
    </div>

    <p class="mx-3" [innerHTML]="safeContent()"></p>
</p-card>
