@if (
    (((userService.isAllowedDigitalServiceWrite$ | async) && !isEcoMindAi) ||
        ((userService.isAllowedEcoMindAiWrite$ | async) && isEcoMindAi)) &&
    enableCalcul()
) {
    <div class="flex justify-content-center">
        <p-button
            styleClass="footer-calculate-button border-round-lg  text-base font-semibold text-white uppercase py-2 px-3 my-3 lg:mb-0"
            (onClick)="launchCalcul()"
            [label]="'common.calculate' | translate"
            icon="pi pi-sync"
            [ariaLabel]="'common.accessibility.calculate' | translate"
            id="calculate"
        />
    </div>
}
