.useful-page a {
    color: var(--tertiary-color);
    font-weight: bold;
    text-decoration: underline;
}

.selection-card-container {
    .pi {
        font-size: 8.5rem;
        padding: 1rem;
    }

    .selection-card-content {
        line-height: 1.75rem;
    }

    .custom-icon {
        width: 154px;
        height: 154px;
        background-color: var(--blue-color);
    }
}
