<div class="lg-file-panel-margin">
    @if (isNew) {
        <div
            class="side-panel-title"
            role="heading"
            aria-level="2"
            appAutofocus
            tabindex="-1"
        >
            {{ "digital-services-terminals.new" | translate }}
        </div>
    } @else {
        <div
            class="side-panel-title"
            role="heading"
            aria-level="2"
            appAutofocus
            tabindex="-1"
        >
            {{ "digital-services-terminals.edit" | translate }}
        </div>
    }

    <form
        [formGroup]="terminalsForm"
        (ngSubmit)="submitFormData()"
        class="terminal-grid-form"
    >
        <div class="label-input-div">
            <label for="terminalName">{{
                "digital-services-servers.name" | translate
            }}</label>
            <input pInputText formControlName="name" id="terminalName" />
            @if (terminalsForm.get("name")?.hasError("required")) {
                <p class="error-text">
                    {{ "digital-services-terminals.terminal-name" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            }
            @if (terminalsForm.get("name")?.hasError("uniqueName")) {
                <p class="error-text">
                    {{
                        "digital-services-terminals.error.terminal-already-exists"
                            | translate
                    }}
                </p>
            }
        </div>

        <div class="label-input-div">
            <label for="typeInput">{{
                "digital-services-terminals.type" | translate
            }}</label>
            <p-select
                appendTo="body"
                [options]="terminalDeviceTypes"
                optionLabel="value"
                styleClass="dropdown-terminal"
                formControlName="type"
                inputId="typeInput"
                (onChange)="onTypeChange($event.value)"
                [ariaLabel]="'digital-services-terminals.type' | translate"
            >
            </p-select>
            @if (terminalsForm.get("type")?.hasError("required")) {
                <p class="error-text">
                    {{ "digital-services-terminals.type" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            }
        </div>
        <div class="label-input-div">
            <label for="countryInput">{{
                "digital-services-terminals.country" | translate
            }}</label>
            <p-select
                appendTo="body"
                [options]="countries"
                styleClass="dropdown-terminal"
                formControlName="country"
                [filter]="true"
                filterBy="label"
                filterPlaceholder="Search"
                inputId="countryInput"
                [ariaLabel]="'digital-services-terminals.country' | translate"
            >
            </p-select>
            @if (terminalsForm.get("country")?.hasError("required")) {
                <p class="error-text">
                    {{ "digital-services-terminals.type" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            }
        </div>
        <div class="label-input-div">
            <label for="numberOfUsers">{{
                "digital-services-terminals.nb-user" | translate
            }}</label>
            <p-inputNumber
                formControlName="numberOfUsers"
                [min]="0"
                inputId="numberOfUsers"
                locale="fr-FR"
            />
            @if (terminalsForm.get("numberOfUsers")?.hasError("required")) {
                <p class="error-text">
                    {{ "digital-services-terminals.nb-user" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            }
        </div>
        <div class="label-input-div">
            <label for="yearlyUsageTimePerUser"
                >{{ "digital-services-terminals.yearly-usage" | translate }} ({{
                    "digital-services-terminals.hours" | translate
                }})</label
            >
            <p-inputNumber
                formControlName="yearlyUsageTimePerUser"
                [min]="0"
                mode="decimal"
                [minFractionDigits]="1"
                [max]="8760"
                inputId="yearlyUsageTimePerUser"
                locale="fr-FR"
            />
            @if (terminalsForm.get("yearlyUsageTimePerUser")?.hasError("required")) {
                <p class="error-text">
                    {{ "digital-services-terminals.yearly-usage" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            }
        </div>
        <div div class="label-input-div">
            <label for="lifespanInput"
                >{{ "digital-services-terminals.lifespan" | translate }}
            </label>
            <p-inputNumber
                formControlName="lifespan"
                mode="decimal"
                [minFractionDigits]="1"
                [min]="0"
                inputId="lifespanInput"
                locale="fr-FR"
            />
            @if (terminalsForm.get("lifespan")?.hasError("required")) {
                <p class="error-text">
                    {{ "digital-services-terminals.lifespan" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            }
        </div>

        <div class="button-bottom-right">
            @if (terminalsForm.hasError("xssDetected") && terminalsForm.dirty) {
                <div class="error-text block">
                    {{ "digital-services.error.xss-detected" | translate }}
                </div>
            }
            @if (!isNew && (userService.isAllowedDigitalServiceWrite$ | async)) {
                <p-button styleClass="grey-button" (onClick)="deleteTerminal()">{{
                    "common.delete" | translate
                }}</p-button>
            }
            <p-button styleClass="white-button" (onClick)="close()"
                >{{ "common.cancel" | translate }}
            </p-button>
            @if (userService.isAllowedDigitalServiceWrite$ | async) {
                <p-button
                    styleClass="yellow-button"
                    [disabled]="terminalsForm.invalid"
                    type="submit"
                    id="submit-terminals"
                >
                    @if (isNew) {
                        <span>{{ "common.add" | translate }}</span>
                    } @else {
                        <span>{{ "common.save" | translate }}</span>
                    }
                </p-button>
            }
        </div>
    </form>
</div>
