<div class="m-3 pt-3">
    <p-table
        [value]="tableView()"
        [scrollable]="true"
        [sortOrder]="-1"
        [rows]="10"
        sortField="sip"
        [paginator]="true"
        [scrollable]="true"
        scrollHeight="calc(100vh - 320px)"
        styleClass="my-3 manage-version-table"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
    >
        <ng-template pTemplate="header">
            <caption class="visually-hidden">
                {{
                    "inventories-footprint.table-view.caption" | translate
                }}
            </caption>
            <tr>
                <th scope="col" id="applicationName" pSortableColumn="applicationName">
                    {{ "inventories-footprint.table-view.header.name" | translate }}
                    <p-sortIcon field="applicationName"></p-sortIcon>
                </th>

                <th scope="col" id="criteria" pSortableColumn="criteria">
                    {{ "inventories-footprint.table-view.header.criteria" | translate }}
                    <p-sortIcon field="criteria"></p-sortIcon>
                </th>

                <th scope="col" id="sip" pSortableColumn="sip">
                    {{ "inventories-footprint.table-view.header.impact" | translate }}
                    <p-sortIcon field="sip"></p-sortIcon>
                </th>

                <th scope="col" id="impact" pSortableColumn="impact">
                    {{ "inventories-footprint.table-view.header.raw-impact" | translate }}
                    @if (!isMulticriteria()) {
                        <p-sortIcon field="impact"></p-sortIcon>
                    }
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-version let-rowIndex="rowIndex">
            <tr>
                <td>{{ version.applicationName }}</td>
                <td>{{ version.criteria }}</td>
                <td>
                    {{
                        this.integerPipe.transform(version.sip) +
                            " " +
                            this.translate.instant("common.peopleeq-min")
                    }}
                </td>
                <td>
                    {{ this.decimalsPipe.transform(version.impact) + " "
                    }}<span [innerHTML]="version.unit"></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-graph-description
    [contentText]="getContentText()"
    [source]="true"
    [sourceValue]="[]"
></app-graph-description>
