<p-card
    styleClass="digital-services-card"
    role="button"
    [attr.aria-label]="digitalService.name"
>
    <div class="flex align-items-center justify-content-between">
        <span class="w-full mr-2">
            <p-button
                styleClass="w-full font-bold text-xl text-left text-gray-900"
                (onClick)="goToDigitalServiceFootprint(digitalService.activeDsvUid)"
                [label]="digitalService.name"
                [text]="true"
                [plain]="true"
                role="heading"
                [ariaLevel]="2"
            />
        </span>

        <p-button
            styleClass="mx-1"
            *ngIf="userService.isAllowedDigitalServiceWrite$ | async"
            [rounded]="true"
            (onClick)="confirmDelete($event, digitalService)"
            [text]="true"
            [plain]="true"
            icon="pi pi-trash"
            [ariaLabel]="
                'digital-services.delete-criteria'
                    | translate: { digitalServiceName: digitalService.name }
            "
        />

        <p-confirmPopup [style]="{ width: '450px' }"> </p-confirmPopup>
    </div>
</p-card>
