@if (showInconsitency()) {
    <app-stack-bar-chart
        [xAxisInput]="xAxisInput"
        [statusCountMap]="criteriaMap"
        [cursor]="'default'"
    />
} @else {
    <div
        echarts
        class="bar-stack m-0 mt-4 h-28rem"
        [options]="options"
        (chartClick)="onChartClick($event)"
    ></div>
}
@if (selectedParam == "Terminal" && !barChartChild) {
    <div class="flex justify-content-center">
        @for (option of terminalsOptions; track option) {
            <div>
                <p-radioButton
                    [inputId]="option.key"
                    name="option"
                    [value]="option.value"
                    [(ngModel)]="terminalsRadioButtonSelected"
                    (onClick)="changeTerminalsRadioButtonSelected()"
                ></p-radioButton>
                <label [for]="option.key" class="ml-2 mr-4 cursor-pointer">{{
                    option.name
                }}</label>
            </div>
        }
    </div>
}
@if (selectedParam == "CloudService" && !barChartChild) {
    <div class="flex justify-content-center">
        @for (option of cloudOptions; track option) {
            <div>
                <p-radioButton
                    [inputId]="option.key"
                    name="option"
                    [value]="option.value"
                    [(ngModel)]="cloudRadioButtonSelected"
                    (onClick)="changeCloudsRadioButtonSelected()"
                ></p-radioButton>
                <label [for]="option.key" class="ml-2 mr-4 cursor-pointer">{{
                    option.name
                }}</label>
            </div>
        }
    </div>
}
@if (
    selectedParam == "Server" &&
    barChartChild &&
    !selectedDetailParam.includes("Dedicated")
) {
    <div class="flex justify-content-center">
        @for (option of serversOptions; track option) {
            <div>
                <p-radioButton
                    [inputId]="option.key"
                    name="option"
                    [value]="option.value"
                    [(ngModel)]="serversRadioButtonSelected"
                    (onClick)="changeServersRadioButtonSelected()"
                ></p-radioButton>
                <label [for]="option.key" class="ml-2 mr-4 cursor-pointer">{{
                    option.name
                }}</label>
            </div>
        }
    </div>
}
