<div class="import-digital" [class.no-menu]="!importDetails?.form">


  <div pFocusTrap class="import-digital-content">

    <app-form-nav 
    *ngIf="selectedRecommendations.length > 1"
    [spaceDetails]="importDetails"
    [spaceForm]="importForm"
    (tabSelected)="selectTab($event)"
  />

    @if (importDetails?.form) {

      <div class="space-form">
         <p-button
                    (onClick)="closeSidebar()"
                    [link]="true"
                    [rounded]="true"
                    ariaLabel="Outlined Close Button"
                    icon="pi pi-times"
                    class="space-sidebar-close"
                    styleClass="space-sidebar-close-button text-black-alpha-60"
                ></p-button>


<h2 class="text-xl md:text-2xl">
  Modifiez les paramètres de vos ressources selon la recommandation sélectionnée
</h2>

<h3 class="font-semibold text-2xl md:text-3xl ml-0">
  {{ importDetails.menu[selectedMenuIndex ?? 0].title }}
</h3>

<p class="mb-3 text-base md:text-lg">
  {{ importDetails.menu[selectedMenuIndex ?? 0].descriptionText }}
</p>

<p class="mt-4 mb-2 font-medium text-base md:text-lg">
  Veuillez adapter les paramètres des ressources afin d’appliquer cette recommandation.
</p>

          <!-- Onglets si plusieurs catégories -->
<p-tabView
  *ngIf="currentCategories.length > 1"
  [(activeIndex)]="selectedCategoryIndex"
>
  <p-tabPanel
    *ngFor="let cat of currentCategories"
    [header]="cat"
  >
  </p-tabPanel>
</p-tabView>

<!-- Un seul panneau affiché à la fois, par catégorie -->
<ng-container [ngSwitch]="currentModifiedCategory">

  <!-- Réseaux -->
  <ng-container *ngSwitchCase="'Réseaux'">
    <ng-container *ngIf="!editingNetwork; else editNetworkMode">
<app-digital-services-networks
  [dsVersionUid]="dsVersionUid"
  [embedded]="true"
  [networkDataInput]="simulatedNetworks()"
  (editEmbedded)="openNetworkEditor($event)"
  (updateEmbedded)="onNetworkSavedFromChild($event)"
  (deleteEmbedded)="onNetworkDeletedFromChild($event)"
  [paginator]="false"
/>
    </ng-container>

    <ng-template #editNetworkMode>
      <div class="embedded-server-panel">
        <div class="panel-header"></div>
        <div class="panel-content">
          <app-digital-services-networks-side-panel
            [embedded]="true"
            [network]="editingNetwork ? editingNetwork : {
              name: '',
              type: {
                code: '',
                value: '',
                country: '',
                type: '',
                annualQuantityOfGo: 0
              },
              yearlyQuantityOfGbExchanged: 0
            }"
            [networkDataInput]="simulatedNetworks()"
            (update)="onNetworkSaved()"
            (cancel)="closeNetworkEditor()"
            [editableFields]="['yearlyQuantityOfGbExchanged']"
            [onlyQuantityEditable]="true"
          />
        </div>
        <div class="panel-footer">
          <p-button styleClass="white-button" (onClick)="closeNetworkEditor()">
            {{ "common.cancel" | translate }}
          </p-button>
          <p-button
            styleClass="yellow-button"
            (onClick)="onNetworkSaved()"
            [label]="'common.save' | translate"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <!-- Clouds Publics - IaaS -->
 <ng-container *ngSwitchCase="'Clouds Publics - IaaS'">
<ng-container *ngIf="!editingCloud; else editCloudMode">
<app-digital-services-cloud-services
  [dsVersionUid]="dsVersionUid"
  [embedded]="true"
  [cloudDataInput]="simulatedCloudServices"
  (editEmbedded)="openCloudEditor($event)"
  (updateEmbedded)="onCloudSavedFromChild($event)"
  (deleteEmbedded)="onCloudDeletedFromChild($event)"
  [paginator]="false"
/>
</ng-container>


<ng-template #editCloudMode>
<div class="embedded-server-panel">
<div class="panel-header">
<h3>{{ "digital-services-cloud-services.edit" | translate }}</h3>
</div>


<div class="cloud-form-grid">
<div class="cloud-form-row" *ngIf="editingCloud">
<label>{{ 'digital-services-cloud-services.quantity' | translate }}</label>
<p-inputNumber [(ngModel)]="editingCloud.quantity" class="field-full" />
</div>


<div class="cloud-form-row" *ngIf="editingCloud">
<label>{{ 'digital-services-cloud-services.instance-type' | translate }}</label>
<p-dropdown
[options]="editingCloudInstanceTypes"
[(ngModel)]="editingCloud.instanceType"
[disabled]="!editingCloud.cloudProvider"
[filter]="true"
filterPlaceholder="Rechercher un type d'instance..."
name="instanceType"
ngDefaultControl
[virtualScroll]="true"
class="field-full"
appendTo="body"
[virtualScroll]="true"
[virtualScrollItemSize]="38"
></p-dropdown>
</div>


<div class="cloud-form-row" *ngIf="editingCloud">
<label>{{ 'digital-services-cloud-services.annual-usage' | translate }}</label>
<p-inputNumber [(ngModel)]="editingCloud.annualUsage" class="field-full" />
</div>


<div class="cloud-form-row" *ngIf="editingCloud">
<label>{{ 'digital-services-cloud-services.average-workload' | translate }}</label>
<p-inputNumber [(ngModel)]="editingCloud.averageWorkload" class="field-full" />
</div>
<div class="cloud-form-row" *ngIf="editingCloud">
  <label>Localisation</label>

  <p-dropdown
    [options]="countries()"
    optionLabel="label"
    [(ngModel)]="editingCloud.location.code"
    optionValue="code"
    [filter]="true"
    filterBy="label"
    placeholder="Choisir une localisation"
    appendTo="body"
    class="field-full"
  ></p-dropdown>
</div>
</div>


<div class="panel-footer">
<p-button styleClass="white-button" (onClick)="closeCloudEditor()">
{{ "common.cancel" | translate }}
</p-button>
<p-button
styleClass="yellow-button"
(onClick)="onCloudSaved()"
[label]="'common.save' | translate"
></p-button>
</div>
</div>
</ng-template>
</ng-container>

  <!-- Infrastructure Privée -->
  <ng-container *ngSwitchCase="'Infrastructure Privée'">
    <ng-container *ngIf="!editingServer; else editMode">
      <app-digital-services-servers
        [dsVersionUid]="dsVersionUid"
        [embedded]="true"
        [serverDataInput]="simulatedServers()"
        (editEmbedded)="openServerEditor($event)"
        [paginator]="false"
      />
    </ng-container>

    <ng-template #editMode>
      <div class="embedded-server-panel">
        <div class="panel-header">
          <h3>Modifier le serveur</h3>
        </div>

        <div class="panel-content">
          <ng-container *ngIf="!addDatacenterVisible; else addDatacenterMode">
            <div class="flex flex-row align-items-center gap-2">
              <p-dropdown
                [options]="datacenterOptions()"
                optionLabel="displayLabel"
                [(ngModel)]="current.datacenter"
                (onChange)="onDatacenterChange($event.value)"
                [filter]="true"
                placeholder="Choisir un datacenter"
              ></p-dropdown>

              <p-button
                styleClass="black-button"
                (onClick)="addDatacenterVisible = true"
              >
                {{ "common.add" | translate }}
                {{ "digital-services-servers.datacenter" | translate }}
              </p-button>
            </div>
          </ng-container>

          <ng-template #addDatacenterMode>
            <app-panel-datacenter
              #datacenterPanel
              [forceWriteAccess]="true"
              [server]="editingServer"
              [addSidebarVisible]="addDatacenterVisible"
              (addSidebarVisibleChange)="addDatacenterVisible = $event"
              (serverChange)="addDatacenter($event)"
              (cancel)="addDatacenterVisible = false"
              [showInternalButtons]="false"
            ></app-panel-datacenter>
          </ng-template>
        </div>

        <!-- FOOTER COMMUN (toujours en bas fixe) -->
        <div class="panel-footer">
          <ng-container *ngIf="!addDatacenterVisible">
            <p-button styleClass="white-button" (onClick)="closeEditor()">
              {{ "common.cancel" | translate }}
            </p-button>
            <p-button
              styleClass="yellow-button"
              (onClick)="onServerSaved()"
              [label]="'common.save' | translate"
            ></p-button>
          </ng-container>

          <ng-container *ngIf="addDatacenterVisible">
            <p-button styleClass="white-button" (onClick)="addDatacenterVisible = false">
              {{ "common.cancel" | translate }}
            </p-button>
            <p-button
              styleClass="yellow-button"
              (onClick)="datacenterPanel.submit()"
              [label]="'common.add' | translate"
            ></p-button>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <!-- Terminaux -->
<ng-container *ngSwitchCase="'Terminaux'">

  <!-- LISTE -->
  <ng-container *ngIf="!editingTerminal; else editTerminalMode">
    <app-digital-services-terminals
      [dsVersionUid]="dsVersionUid"
      [embedded]="true"
      [terminalData]="simulatedTerminals()"
      (editEmbedded)="openTerminalEditor($event)"
      (updateEmbedded)="onTerminalSavedFromChild($event)"
      (deleteEmbedded)="onTerminalDeletedFromChild($event)"
      [paginator]="false"
    />
  </ng-container>

  <!-- EDITION -->
  <ng-template #editTerminalMode>
    <div class="embedded-server-panel">

      <div class="panel-header">
        <h3>{{ "digital-services-terminals.edit" | translate }}</h3>
      </div>

      <div class="panel-content">

        <div class="terminal-form-grid" *ngIf="editingTerminal">

          <!-- TYPE -->
          <div class="form-row">
            <label>{{ "digital-services-terminals.type" | translate }}</label>
            <p-dropdown
              [options]="terminalDeviceTypes"
              optionLabel="value"
              [(ngModel)]="editingTerminal.type"
              (onChange)="editingTerminal.lifespan = $event.value.lifespan"
              appendTo="body"
              class="field-full"
            ></p-dropdown>
          </div>

          <!-- COUNTRY -->
          <!-- <div class="form-row">
            <label>{{ "digital-services-terminals.country" | translate }}</label>
            <p-dropdown
              [options]="countries()"
              [(ngModel)]="editingTerminal.country"
              [filter]="true"
              filterBy="label"
              appendTo="body"
              class="field-full"
            ></p-dropdown>
          </div> -->

          <!-- USERS -->
          <div class="form-row">
            <label>{{ "digital-services-terminals.nb-user" | translate }}</label>
            <p-inputNumber
              [(ngModel)]="editingTerminal.numberOfUsers"
              class="field-full"
            ></p-inputNumber>
          </div>

          <!-- USAGE -->
          <div class="form-row">
            <label>
              {{ "digital-services-terminals.yearly-usage" | translate }}
            </label>
            <p-inputNumber
              [(ngModel)]="editingTerminal.yearlyUsageTimePerUser"
              class="field-full"
            ></p-inputNumber>
          </div>

          <!-- LIFESPAN -->
          <!-- <div class="form-row">
            <label>{{ "digital-services-terminals.lifespan" | translate }}</label>
            <p-inputNumber
              [(ngModel)]="editingTerminal.lifespan"
              class="field-full"
            ></p-inputNumber>
          </div> -->

        </div>

      </div>

      <!-- FOOTER -->
      <div class="panel-footer">
        <p-button styleClass="white-button" (onClick)="closeTerminalEditor()">
          {{ "common.cancel" | translate }}
        </p-button>

        <p-button
          styleClass="yellow-button"
          (onClick)="onTerminalSaved()"
          [label]="'common.save' | translate"
        ></p-button>
      </div>

    </div>
  </ng-template>

</ng-container>

</ng-container>



        <div class="mt-3" *ngIf="!editingServer && !editingNetwork && !editingCloud && !editingTerminal">

  @for (
    spaceDetail of importDetails["form"];
    track $index;
    let menuIndex = $index;
    let lastIndex = $last
  ) {

    <div
      class="space-form--input"
      [ngClass]="{ active: selectedMenuIndex === menuIndex }"
    >

      <div
        class="bg-light-grey-color space-form--button-group flex align-content-end justify-content-end flex-wrap"
      >

        @if (menuIndex > 0) {
          <p-button
            styleClass="p-button-secondary-blue uppercase"
            (onClick)="previousTab(menuIndex)"
            label="Précédent"
          ></p-button>
        }

        @if (!lastIndex) {
          <p-button
            styleClass="p-button-secondary-blue uppercase"
            (onClick)="nextTab(menuIndex)"
            label="Suivant"
          ></p-button>
        }
        @if (!editingServer && hasAnyModified()) {
        <p-button
          icon="pi pi-plus-circle"
          label="Créer une nouvelle version"
          styleClass="black-button-sidebar uppercase"
          (onClick)="createNewVersion()"
        ></p-button>
        }
      </div>

    </div>

  }

</div>

      </div>

    }

  </div>


</div>