version: "3"
networks:
  numecoeval: {}

services:
  kafka:
    extends:
      file: shared-docker-compose.yml
      service: kafka

  postgresdb:
    extends:
      file: shared-docker-compose.yml
      service: postgresdb

volumes:
  numecoeval_kafka_data:
    driver: local
  numecoeval_postgres_data:
    driver: local