<div class="bg-gray-color impact-buttons-div mx-auto mb-4 border-round-lg">
    <div
        class="flex align-items-center"
        [ngClass]="!isCollapsed ? 'justify-content-between' : 'justify-content-center'"
    >
        @if (!isCollapsed) {
            <h3 class="font-semibold p-2 pt-3 mt-2 mb-1">
                {{ "common.criteria" | translate }}
            </h3>
            <p-button
                (onClick)="onCollapseToggle(true)"
                styleClass="cancel-creation-button border-none mr-3 px-3 py-2 mb-3 sm:mb-0"
                icon="pi pi-angle-double-left"
                id="collapse-button"
                [ariaLabel]="'common.collapse-impact' | translate"
                [outlined]="false"
            />
        } @else {
            <p-button
                (onClick)="onCollapseToggle(false)"
                styleClass="cancel-creation-button border-none px-3 py-2 my-3"
                icon="pi pi-angle-double-right"
                id="expand-button"
                [ariaLabel]="'common.expand-impact' | translate"
                [outlined]="false"
            />
        }
    </div>

    <div class="flex flex-column w-full border-round">
        @for (impact of impactsList; track $index) {
            <app-impact-button
                [impact]="impact.name"
                [impactText]="impact.title"
                [impactUnite]="impact.unite"
                [value]="selectedUnit === 'Peopleeq' ? impact.peopleeq : impact.raw"
                [selectedCriteria]="selectedCriteria"
                [selectedUnit]="selectedUnit"
                (selectedCriteriaChange)="onChartChange($event)"
                [isCollapsed]="isCollapsed"
                [disabled]="impactsList.length === 1 || onlyOneCriteria"
            ></app-impact-button>
        }

        @if (isAllowedWrite$ | async) {
            <div class="mt-4 mb-2 text-center">
                <p-button
                    (onClick)="onDisplayPopup()"
                    styleClass="cancel-creation-button uppercase px-3 py-2 mb-3 sm:mb-0"
                    [label]="
                        (!isCollapsed ? 'digital-services.edit-criteria' : '') | translate
                    "
                    icon="pi pi-plus-circle"
                    id="criteria-button"
                    [ariaLabel]="
                        'digital-services.choose-criteria'
                            | translate
                                : {
                                      digitalServiceName: entityName,
                                  }
                    "
                />
            </div>
        }
    </div>
</div>
