<p-toast #toast position="bottom-center"></p-toast>

<div class="flex justify-content-between align-items-center flex-wrap mr-4 mb-4">
    <h1>
        {{ "inventories.title" | translate: { WorkspaceName: selectedWorkspace } }}
    </h1>

    <!-- FILE SIDEBAR -->
    @if (sidebarType === "FILE" && sidebarVisible) {
        <p-drawer
            [(visible)]="sidebarVisible"
            position="right"
            styleClass="w-5"
            (onHide)="filePanel.close()"
        >
            <app-file-panel
                #filePanel
                [purpose]="sidebarPurpose"
                [name]="name"
                [inventoryId]="id"
                [allSimulations]="inventoriesForSimulationsAll"
                [inventories]="inventories.get('INFORMATION_SYSTEM')!"
                (sidebarPurposeChange)="sidebarPurpose = $event"
                (sidebarVisibleChange)="sidebarVisible = $event"
                (reloadInventoriesAndLoop)="reloadInventoriesAndLoop($event)"
            ></app-file-panel>
        </p-drawer>
    }

    <!-- NOTE SIDEBAR -->
    @if (sidebarType === "NOTE" && sidebarVisible) {
        <p-drawer
            [(visible)]="sidebarVisible"
            position="right"
            styleClass="w-5"
            (onHide)="sidebarVisible = false"
        >
            <app-common-editor
                [content]="selectedInventory.note?.content"
                [title]="'Note - ' + selectedInventory.name"
                [showButtons]="userService.isAllowedInventoryWrite$ | async"
                (saveValue)="noteSaveValue($event)"
                (outClose)="sidebarVisible = $event"
                (delete)="noteDelete($event); sidebarVisible = $event"
                styleClass="mx-7"
            ></app-common-editor>
        </p-drawer>
    }

    <!-- BUTTON -->
    @if (userService.isAllowedInventoryWrite$ | async) {
        <p-button
            styleClass="black-button"
            (onClick)="
                name = '';
                sidebarPurpose = 'new';
                sidebarType = 'FILE';
                sidebarVisible = true
            "
        >
            {{ "inventories.add" | translate }}
        </p-button>
    }
</div>

<p-scroll-panel [style]="{ width: '100%', height: '95%' }">
    <!-- ================= INFORMATION SYSTEM ================= -->
    <p-accordion [multiple]="true">
        <p-accordion-panel>
            <p-accordion-header>
                {{ "inventories.headerForIS" | translate }}
            </p-accordion-header>

            <p-accordion-content>
                <div class="inventory-list" style="max-height: 60vh; overflow-y: auto">
                    <!-- CHILD ACCORDION -->
                    <p-accordion [multiple]="true">
                        @for (
                            inventory of inventories.get("INFORMATION_SYSTEM");
                            track inventory.id
                        ) {
                            <p-accordion-panel [value]="inventory.id">
                                <p-accordion-header>
                                    {{ inventory.name }}
                                </p-accordion-header>

                                <p-accordion-content>
                                    <app-inventory-item
                                        [inventory]="inventory"
                                        (reloadInventoriesAndLoop)="
                                            reloadInventoriesAndLoop($event)
                                        "
                                        (reloadInventoryAndLoop)="
                                            reloadInventoryAndLoop($event)
                                        "
                                        (openSidebarForUploadInventory)="
                                            openSidebarForUploadInventory($event)
                                        "
                                        (openSidebarForNote)="openSidebarForNote($event)"
                                        (saveInventory)="
                                            handleSaveInventory(
                                                $event,
                                                'INFORMATION_SYSTEM'
                                            )
                                        "
                                    >
                                    </app-inventory-item>
                                </p-accordion-content>
                            </p-accordion-panel>
                        }
                    </p-accordion>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>

    <!-- ================= SIMULATION ================= -->
    <p-accordion [multiple]="true">
        <p-accordion-panel>
            <!-- HEADER -->
            <p-accordion-header>
                <div class="flex justify-content-between w-full align-items-center">
                    <div>
                        {{ "inventories.headerForSimulation" | translate }}
                    </div>

                    @if (
                        inventoryBlocksOpen.has("SIMULATION") &&
                        inventoriesForSimulationsAll.length > 0
                    ) {
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                type="text"
                                pInputText
                                class="p-inputtext-sm"
                                style="width: 18vw; min-width: 180px"
                                (keyup)="searchList()"
                                (click)="onClick($event)"
                                [(ngModel)]="filterMode"
                                placeholder="{{
                                    'inventories.searchSimulator' | translate
                                }}"
                            />
                        </span>
                    }
                </div>
            </p-accordion-header>

            <!-- CONTENT -->
            <p-accordion-content>
                <div class="inventory-list" style="max-height: 60vh; overflow-y: auto">
                    <p-accordion [multiple]="true">
                        @for (
                            inventory of inventories.get("SIMULATION");
                            track inventory.id
                        ) {
                            <p-accordion-panel [value]="inventory.id">
                                <p-accordion-header>
                                    {{ inventory.name }}
                                </p-accordion-header>

                                <p-accordion-content>
                                    <app-inventory-item
                                        [inventory]="inventory"
                                        (reloadInventoriesAndLoop)="
                                            reloadInventoriesAndLoop($event)
                                        "
                                        (reloadInventoryAndLoop)="
                                            reloadInventoryAndLoop($event)
                                        "
                                        (openSidebarForUploadInventory)="
                                            openSidebarForUploadInventory($event)
                                        "
                                        (openSidebarForNote)="openSidebarForNote($event)"
                                        (saveInventory)="
                                            handleSaveInventory($event, 'SIMULATION')
                                        "
                                    >
                                    </app-inventory-item>
                                </p-accordion-content>
                            </p-accordion-panel>
                        }
                    </p-accordion>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</p-scroll-panel>
