<p-toast #toast position="bottom-center"></p-toast>
<div class="flex justify-content-between align-items-center flex-wrap mr-4 mb-4">
    <h1>
        {{ "inventories.title" | translate: { WorkspaceName: selectedWorkspace } }}
    </h1>
    <!-- Side Panel -->
    @if (sidebarType === "FILE" && sidebarVisible) {
        <p-drawer
            [(visible)]="sidebarVisible"
            position="right"
            styleClass="p-sidebar-md w-7"
            (onHide)="filePanel.close()"
            ariaCloseLabel="Close"
        >
            <app-file-panel
                #filePanel
                [purpose]="sidebarPurpose"
                [name]="name"
                [inventoryId]="id"
                [allSimulations]="inventoriesForSimulationsAll"
                [inventories]="inventories.get('INFORMATION_SYSTEM')!"
                (sidebarPurposeChange)="sidebarPurpose = $event"
                (sidebarVisibleChange)="sidebarVisible = $event"
                (reloadInventoriesAndLoop)="reloadInventoriesAndLoop($event)"
            ></app-file-panel>
        </p-drawer>
    }
    @if (sidebarType === "NOTE" && sidebarVisible) {
        <p-drawer
            [(visible)]="sidebarVisible"
            position="right"
            styleClass="p-sidebar-md w-7"
            (onHide)="sidebarVisible = false"
            ariaCloseLabel="Close"
        >
            <app-common-editor
                [content]="selectedInventory.note?.content"
                [title]="'Note - ' + selectedInventory.name"
                [showButtons]="userService.isAllowedInventoryWrite$ | async"
                (saveValue)="noteSaveValue($event)"
                (outClose)="sidebarVisible = $event"
                (delete)="noteDelete($event); sidebarVisible = $event"
                styleClass="mx-7"
            >
            </app-common-editor>
        </p-drawer>
    }
    @if (userService.isAllowedInventoryWrite$ | async) {
        <p-button
            styleClass="black-button"
            (onClick)="
                name = '';
                sidebarPurpose = 'new';
                sidebarType = 'FILE';
                sidebarVisible = true
            "
            id="new-inventory"
            >{{ "inventories.add" | translate }}</p-button
        >
    }
</div>
<p-scroll-panel [style]="{ width: '100%', height: '95%' }" tabindex="-1">
    <p-accordion
        class="transparentBackgound"
        [multiple]="true"
        (tabOpen)="openTab($event, 'INFORMATION_SYSTEM')"
        (tabClose)="closeTab($event, 'INFORMATION_SYSTEM')"
    >
        <p-accordion-panel
            headerClass="font-bold bg-transparent"
            contentClass="shadow-none"
            id="is-accordion"
        >
            <p-accordion-header>
                {{ "inventories.headerForIS" | translate }}
            </p-accordion-header>
            <p-accordion-content>
                <div
                    class="inventory-list"
                    [style]="{ 'max-height': '60vh', 'overflow-y': 'auto' }"
                >
                    <p-accordion [multiple]="true">
                        @for (
                            inventory of inventories.get("INFORMATION_SYSTEM");
                            track inventory.id
                        ) {
                            <app-inventory-item
                                [inventory]="inventory"
                                (reloadInventoriesAndLoop)="
                                    reloadInventoriesAndLoop($event)
                                "
                                (reloadInventoryAndLoop)="reloadInventoryAndLoop($event)"
                                (openSidebarForUploadInventory)="
                                    openSidebarForUploadInventory($event)
                                "
                                (openSidebarForNote)="openSidebarForNote($event)"
                                (saveInventory)="
                                    handleSaveInventory($event, 'INFORMATION_SYSTEM')
                                "
                                (openTab)="childOpenTab($event)"
                                (closeTab)="childCloseTab($event)"
                                [open]="inventoriesOpen.has(inventory.id)"
                            >
                            </app-inventory-item>
                        }
                    </p-accordion>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
    <p-accordion
        class="transparentBackgound"
        [multiple]="true"
        (tabOpen)="openTab($event, 'SIMULATION')"
        (tabClose)="closeTab($event, 'SIMULATION')"
    >
        <p-accordion-panel
            headerClass="font-bold bg-transparent"
            contentClass="shadow-none"
            id="is-accordion"
        >
            <p-accordion-header>
                <div class="flex flex-row justify-content-between w-full">
                    <div class="flex align-items-center">
                        {{ "inventories.headerForSimulation" | translate }}
                    </div>
                    <div class="flex align-items-center">
                        @if (
                            inventoryBlocksOpen.has("SIMULATION") &&
                            inventoriesForSimulationsAll.length > 0
                        ) {
                            <span class="p-input-icon-left pr-3">
                                <i class="pi pi-search"></i>
                                <input
                                    type="text"
                                    pInputText
                                    class="p-inputtext-sm"
                                    style="
                                        width: 18vw;
                                        min-width: 180px;
                                        font-size: medium;
                                    "
                                    (keyup)="searchList()"
                                    (click)="onClick($event)"
                                    name="filterMode"
                                    placeholder="{{
                                        'inventories.searchSimulator' | translate
                                    }}"
                                    [attr.aria-label]="
                                        'inventories.searchSimulator' | translate
                                    "
                                    [(ngModel)]="filterMode"
                                    id="filterMode"
                                />
                            </span>
                        }
                    </div>
                </div>
            </p-accordion-header>
            <p-accordion-content>
                <div
                    class="inventory-list"
                    [style]="{ 'max-height': '60vh', 'overflow-y': 'auto' }"
                >
                    <p-accordion [multiple]="true">
                        @for (
                            inventory of inventories.get("SIMULATION");
                            track inventory.id
                        ) {
                            <app-inventory-item
                                [inventory]="inventory"
                                (reloadInventoriesAndLoop)="
                                    reloadInventoriesAndLoop($event)
                                "
                                (reloadInventoryAndLoop)="reloadInventoryAndLoop($event)"
                                (openSidebarForUploadInventory)="
                                    openSidebarForUploadInventory($event)
                                "
                                (openSidebarForNote)="openSidebarForNote($event)"
                                (saveInventory)="
                                    handleSaveInventory($event, 'SIMULATION')
                                "
                                (openTab)="childOpenTab($event)"
                                (closeTab)="childCloseTab($event)"
                                [open]="inventoriesOpen.has(inventory.id)"
                            >
                            </app-inventory-item>
                        }
                    </p-accordion>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</p-scroll-panel>
