<div class="w-full">
    <p-button
        [styleClass]="
            selectedCriteria === impact
                ? 'w-full letter-spacing-2 h-5rem bg-light-green border-noround'
                : 'w-full force-bg-white letter-spacing-2 h-5rem border-noround bg-light-gray border-bottom-gray'
        "
        [id]="impactText"
        [ngClass]="{ 'pointer-events-none': value === null || value === 0 || disabled }"
        (onClick)="
            value === null || value === 0 || disabled ? null : changeCritere(impact)
        "
    >
        <div
            [ngClass]="selectedCriteria === impact ? 'bg-tertiary' : 'bg-gray-100'"
            class="border-circle p-3 h-4rem"
        >
            <img
                [ngClass]="{ 'selected-img-white': selectedCriteria === impact }"
                src="{{ impactImage }}"
                alt=""
                width="30"
            />
        </div>
        @if (!isCollapsed()) {
            <div class="flex flex-column align-items-start ml-2 pr-4">
                <p class="text-xs uppercase text-left">{{ impactText }}</p>
                @if ((value ?? 0) === 0) {
                    {{ value ? value : "--" }}
                    <span [innerHTML]="selectedUnit === 'Raw' ? impactUnite : ''"></span>
                } @else {
                    <div class="text-xs">
                        {{
                            selectedUnit === "Raw"
                                ? (value | decimals)
                                : (value | integer)
                        }}
                    </div>
                    <div
                        class="text-xs"
                        [innerHTML]="selectedUnit === 'Raw' ? impactUnite : ''"
                    ></div>
                }
            </div>
            <span
                [ngClass]="{ 'light-green-color': selectedCriteria !== impact }"
                class="pi pi-chevron-right absolute right-1rem font-bold"
            ></span>
        }
    </p-button>
</div>
