<app-digital-services-footprint-header
    [isEcoMindAi]="isEcoMindAi"
    [isSharedDs]="false"
    [(digitalService)]="digitalService"
    (digitalServiceChange)="updateDigitalService()"
    (digitalMobileOptionsChange)="updateEnableCalculation()"
    #footprintHeader
>
</app-digital-services-footprint-header>
@if (!isMobile()) {
    <p-tabMenu
        [model]="tabItems"
        [activeItem]="selectedTab"
        (activeItemChange)="onMenuTabChange($event)"
        [attr.aria-label]="'common.ds-menu' | translate"
    ></p-tabMenu>
} @else {
    <p-dropdown
        styleClass="w-full my-2"
        [options]="tabItems"
        optionLabel="label"
        [(ngModel)]="selectedTab"
        (onChange)="onTabChange($event.value)"
        [placeholder]="'common.ds-menu' | translate"
    ></p-dropdown>
}

<p-scrollPanel
    #scrollPanel
    [style]="{
        width: '100%',
        height: 'calc(100vh - (153px + ' + headerHeight + 'px + ' + footerHeight + 'px))',
    }"
>
    <router-outlet></router-outlet>
</p-scrollPanel>

<app-digital-services-footprint-footer
    [isEcoMindAi]="isEcoMindAi"
    [digitalService]="digitalService"
    (updateEnableCalculation)="updateEnableCalculation()"
    #footprintFooter
>
</app-digital-services-footprint-footer>
