<app-digital-services-footprint-header
    [isAi]="isEcoMindAi"
    [(digitalService)]="digitalService"
    (digitalServiceChange)="updateDigitalService()"
    #footprintHeader
>
</app-digital-services-footprint-header>
<p-scrollPanel
    [style]="{
        width: '100%',
        height: 'calc(100vh - (100px - {{headerHeight}}px - {{footerHeight}}px))',
    }"
>
    <p-tabMenu
        [model]="tabItems"
        role="heading"
        [ariaLevel]="2"
        [attr.aria-label]="'common.ds-menu' | translate"
    ></p-tabMenu>
    <router-outlet></router-outlet>
</p-scrollPanel>

<app-digital-services-footprint-footer
    [isAi]="isEcoMindAi"
    [digitalService]="digitalService"
    (updateEnableCalculation)="updateEnableCalculation($event)"
    #footprintFooter
>
</app-digital-services-footprint-footer>
