<!-- HEADER -->
<p-accordion-header>
    <div
        class="flex flex-row justify-content-between w-full"
        [attr.aria-label]="inventory.name"
    >
        <!-- TITLE -->
        <div class="flex align-items-center text-lg">
            {{ inventory.name | monthYear }}
        </div>

        <!-- ACTION BUTTONS -->
        <div class="flex align-items-center">
            @if (!inventory.note && (userService.isAllowedInventoryWrite$ | async)) {
                <p-button
                    (onClick)="$event.stopPropagation(); openSidebarNote()"
                    (keydown.enter)="$event.stopPropagation(); openSidebarNote()"
                    styleClass="inventory-add-button-small mx-2"
                    icon="pi pi-plus-circle"
                    [label]="'common.note.add' | translate"
                />
            }

            @if (inventory.note) {
                <p-button
                    (onClick)="$event.stopPropagation(); openSidebarNote()"
                    (keydown.enter)="$event.stopPropagation(); openSidebarNote()"
                    styleClass="inventory-attached-button-small mx-2"
                    icon="pi pi-clipboard"
                    [label]="'common.note.attached' | translate"
                />
            }

            @if (isTaskRunning()) {
                <p-button
                    [disabled]="true"
                    styleClass="inventory-button-small ml-5 mr-6 disabled-text-black"
                    icon="pi pi-refresh"
                    [label]="'common.updateInProgress' | translate"
                />
            }

            @if (!isTaskRunning()) {
                <p-button
                    [disabled]="!showEquipment()"
                    styleClass="inventory-button-small mx-2"
                    (onClick)="$event.stopPropagation(); redirectFootprint('equipment')"
                    (keydown.enter)="
                        $event.stopPropagation(); redirectFootprint('equipment')
                    "
                    icon="pi pi-arrow-right"
                    [label]="'inventories.details.equipment' | translate"
                />

                <p-button
                    [disabled]="!showApplication()"
                    styleClass="inventory-button-small ml-2 mr-3"
                    (onClick)="$event.stopPropagation(); redirectFootprint('application')"
                    (keydown.enter)="
                        $event.stopPropagation(); redirectFootprint('application')
                    "
                    icon="pi pi-arrow-right"
                    [label]="'inventories.details.application' | translate"
                />
            }
        </div>
    </div>
</p-accordion-header>

<!-- CONTENT -->
<p-accordion-content>
    <div class="flex flex-column p-3 border-top-2 border-primary">
        <div class="flex flex-wrap justify-content-between">
            <!-- INVENTORY COUNTS -->
            <div class="flex flex-column basis-1/3">
                <div class="flex align-items-center">
                    <app-equipments-card
                        [count]="inventory.dataCenterCount"
                        [type]="'datacenter'"
                    ></app-equipments-card>

                    <app-equipments-card
                        [count]="inventory.physicalEquipmentCount"
                        [type]="'physical'"
                    ></app-equipments-card>
                </div>

                <div class="flex align-items-center">
                    <app-equipments-card
                        [count]="inventory.virtualEquipmentCount"
                        [type]="'virtual'"
                    ></app-equipments-card>

                    <app-equipments-card
                        [count]="inventory.applicationCount"
                        [type]="'app'"
                    ></app-equipments-card>
                </div>
            </div>

            <!-- LOADING HISTORY -->
            <div class="flex flex-column">
                <div class="flex align-items-center">
                    <h4 class="mr-3 my-0 text-base">
                        {{ "inventories.history.loadings" | translate }}
                    </h4>

                    @if (userService.isAllowedInventoryWrite$ | async) {
                        <p-button
                            styleClass="black-button-small uppercase"
                            (onClick)="openSidebarUploadFile()"
                        >
                            {{ "inventories.load-files-button" | translate }}
                        </p-button>
                    }
                </div>

                <ul style="padding: 0">
                    @for (task of taskLoading; track task.id) {
                        <li class="loading-data-container">
                            <app-batch-status
                                [batchStatusCode]="task.status"
                                [createTime]="task.creationDate"
                                [batchLoading]="true"
                                [type]="'loading'"
                                [inventoryId]="inventory.id"
                                [inventoryName]="inventory.name"
                                [fileUrl]="task.resultFileUrl"
                                [taskId]="task.id.toString()"
                            ></app-batch-status>
                        </li>
                    }
                </ul>
            </div>

            <!-- ESTIMATE HISTORY -->
            <div class="flex flex-column">
                <div class="flex align-items-center">
                    <h4 class="mr-3 my-0 text-base">
                        {{ "inventories.history.estimations" | translate }}
                    </h4>

                    @if (userService.isAllowedInventoryWrite$ | async) {
                        <p-button
                            [disabled]="isEstimationDisabled()"
                            styleClass="black-button-small uppercase"
                            (onClick)="launchEstimate($event)"
                        >
                            @if (inventory.lastTaskEvaluating) {
                                {{ "inventories.update-estimate" | translate }}
                            }
                            @if (!inventory.lastTaskEvaluating) {
                                {{ "inventories.launch-estimate" | translate }}
                            }
                        </p-button>
                    }
                </div>

                @if (inventory.lastTaskEvaluating) {
                    @if (isTaskRunning()) {
                        <div>
                            <div class="font-bold mt-2">
                                {{
                                    "inventories.evaluation_batch_status." +
                                        batchStatusMapping[
                                            inventory.lastTaskEvaluating.status
                                        ] | translate
                                }}
                                {{ inventory.lastTaskEvaluating.progress }}%
                            </div>

                            <p-progressBar
                                [value]="inventory.lastTaskEvaluating.progress"
                                [showValue]="false"
                            ></p-progressBar>
                        </div>
                    }

                    <ul class="p-0">
                        @for (task of taskEvaluating; track task.id) {
                            <li class="loading-data-container">
                                <app-batch-status
                                    [batchStatusCode]="task.status"
                                    [createTime]="task.creationDate"
                                    [batchLoading]="true"
                                    [type]="'estimation'"
                                    [inventoryId]="inventory.id"
                                    [inventoryName]="inventory.name"
                                    [fileUrl]="task.resultFileUrl"
                                    [taskId]="task.id.toString()"
                                ></app-batch-status>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        <!-- FOOTER -->
        <div class="flex flex-wrap mt-3">
            @if (userService.isAllowedInventoryWrite$ | async) {
                <p-button
                    styleClass="bg-transparent text-black-alpha-90 border-1 border-black-alpha-90 mt-2 px-2 hover:bg-green-50"
                    (onClick)="confirmDelete($event)"
                >
                    <img
                        class="mb-1"
                        src="assets/images/icons/icon-bin.svg"
                        alt="delete"
                    />
                    {{ "common.delete" | translate | uppercase }}
                    <p-confirmpopup [style]="{ width: '500px' }"></p-confirmpopup>
                </p-button>
            }

            <!-- SETTINGS -->
            <div class="flex justify-content-end ml-auto">
                <p-button
                    class="ml-2"
                    [rounded]="true"
                    [text]="true"
                    (onClick)="displayPopupFct()"
                    icon="pi pi-cog"
                ></p-button>
            </div>
        </div>
    </div>

    <!-- POPUP -->
    @if (displayPopup) {
        <app-criteria-popup
            [displayPopup]="displayPopup"
            [type]="'inventory'"
            [organization]="organization"
            [workspace]="workspace"
            [inventory]="inventory"
            [selectedCriteriaIS]="selectedCriteria"
            (outSaveInventory)="saveInventory.emit($event)"
            (outClose)="displayPopup = false"
        ></app-criteria-popup>
    }
</p-accordion-content>
