@for (type of fileTypes; track $index) {
    <div class="multi-file-import flex justify-content-start mb-3">
        <input
            pInputText
            [value]="type.label"
            [disabled]="true"
            class="label-input w-12rem h-3rem min-w-0"
            locale="fr-FR"
            id="{{ type.key }}Name"
            [label]="type.key"
            [attr.aria-label]="type.label"
        />
        <p-fileUpload
            (onSelect)="onSelectFile($event, type.key)"
            styleClass="cancel-creation-button uppercase mx-2 h-3rem font-bold"
            id="file{{ type.key }}"
            mode="basic"
            chooseLabel="{{ 'digital-services-import.browse-file' | translate }}"
            [ariaLabel]="'digital-services-import.browse-file' | translate"
            [files]="type.key && selectedFiles[type.key] ? [selectedFiles[type.key]] : []"
            accept="{{ allowedFileExtensions.join(',') }}"
            [customUpload]="true"
        >
        </p-fileUpload>
        @if (selectedFiles[type.key]) {
            <p-button
                class="mt-1"
                icon="pi pi-times "
                (onClick)="onDeleteButton(type.key)"
                [text]="true"
                [ariaLabel]="'administration.delete' | translate"
            ></p-button>
        }
    </div>
}

<p-button
    styleClass="p-button-secondary-blue p-button uppercase"
    icon="pi pi-upload"
    (onClick)="uploadAllFiles()"
    label="{{ 'digital-services-import.start-upload' | translate }}"
    [ariaLabel]="'digital-services-import.start-upload' | translate"
    [disabled]="!isUploadEnabled() || fileLoading"
></p-button>
