<div>
    <p-card>
        <div class="footprint-data-application flex flex-row justify-content-evenly mt-4">
            <div>
                @if (criteriaSignal().appCount !== 0) {
                    <p class="p-bold">
                        {{
                            "inventories-footprint.application.applications.title"
                                | translate
                        }}
                    </p>
                } @else {
                    <p [ngClass]="{ 'grey-text': criteriaSignal().appCount == 0 }">
                        {{
                            "inventories-footprint.application.applications.title"
                                | translate
                        }}
                    </p>
                }
                <div class="flex flex-row justify-content-center text-2xl mt-2">
                    @if (criteriaSignal().appCount !== 0) {
                        <span>{{ criteriaSignal().appCount.toFixed(0) }}</span>
                    } @else {
                        <span
                            role="application"
                            attr.aria-label="{{ 'common.no-data' | translate }}"
                            class="text-no-data-global"
                        >
                            --
                        </span>
                    }
                    <img
                        class="small-info"
                        src="assets/images/icons/icon-information.svg"
                        alt="{{
                            'inventories-footprint.application.tooltip.nb-app' | translate
                        }}"
                        pTooltip="{{
                            'inventories-footprint.application.tooltip.nb-app' | translate
                        }}"
                        tooltipEvent="focus"
                        tooltipPosition="right"
                        tabindex="0"
                    />
                </div>
            </div>
            <div>
                @if (isSip) {
                    <div>
                        @if (footprintStore.appGraphType() !== "application") {
                            <div>
                                @if (criteriaSignal().averageImpactSip !== 0) {
                                    <p class="p-bold">
                                        {{
                                            "inventories-footprint.application.application.avg"
                                                | translate
                                        }}
                                    </p>
                                } @else {
                                    <p
                                        [ngClass]="{
                                            'grey-text': criteriaSignal().appCount == 0,
                                        }"
                                    >
                                        {{
                                            "inventories-footprint.application.application.avg"
                                                | translate
                                        }}
                                    </p>
                                }
                            </div>
                        } @else {
                            @if (criteriaSignal().averageImpactSip !== 0) {
                                <p class="p-bold">
                                    {{
                                        "inventories-footprint.application.app.impact"
                                            | translate
                                    }}
                                </p>
                            } @else {
                                <p
                                    [ngClass]="{
                                        'grey-text':
                                            criteriaSignal().averageImpactSip == 0,
                                    }"
                                >
                                    {{
                                        "inventories-footprint.application.app.impact"
                                            | translate
                                    }}
                                </p>
                            }
                        }
                    </div>
                } @else {
                    @if (footprintStore.appGraphType() !== "application") {
                        <div>
                            @if (criteriaSignal().averageImpactUnit !== 0) {
                                <p class="p-bold">
                                    {{
                                        "inventories-footprint.application.application.avg"
                                            | translate
                                    }}
                                </p>
                            } @else {
                                <p
                                    [ngClass]="{
                                        'grey-text':
                                            criteriaSignal().averageImpactUnit == 0,
                                    }"
                                >
                                    {{
                                        "inventories-footprint.application.application.avg"
                                            | translate
                                    }}
                                </p>
                            }
                        </div>
                    } @else {
                        @if (criteriaSignal().averageImpactUnit !== 0) {
                            <p class="p-bold">
                                {{
                                    "inventories-footprint.application.app.impact"
                                        | translate
                                }}
                            </p>
                        } @else {
                            <p
                                [ngClass]="{
                                    'grey-text': criteriaSignal().averageImpactUnit == 0,
                                }"
                            >
                                {{
                                    "inventories-footprint.application.app.impact"
                                        | translate
                                }}
                            </p>
                        }
                    }
                }

                <div class="flex flex-row justify-content-center text-2xl mt-2">
                    @if (isSip) {
                        <div>
                            @if (criteriaSignal().averageImpactSip === 0) {
                                <span
                                    role="application"
                                    attr.aria-label="{{ 'common.no-data' | translate }}"
                                    class="text-no-data-global"
                                    >--</span
                                >
                            } @else {
                                @if (
                                    criteriaSignal().averageImpactSip !== 0 &&
                                    criteriaSignal().averageImpactSip < 1
                                ) {
                                    <span> &lt; 1 </span>
                                } @else {
                                    <span>{{
                                        criteriaSignal().averageImpactSip.toFixed(0)
                                    }}</span>
                                }
                            }
                        </div>
                    } @else {
                        @if (criteriaSignal().averageImpactUnit === 0) {
                            <span
                                role="application"
                                attr.aria-label="{{ 'common.no-data' | translate }}"
                                class="text-no-data-global"
                                >--</span
                            >
                        } @else {
                            @if (
                                criteriaSignal().averageImpactUnit !== 0 &&
                                criteriaSignal().averageImpactUnit < 1
                            ) {
                                <span> &lt; 1 </span>
                            } @else {
                                <span>{{
                                    criteriaSignal().averageImpactUnit.toFixed(0)
                                }}</span>
                            }
                        }
                    }

                    @if (footprintStore.appGraphType() !== "application") {
                        <img
                            class="small-info"
                            src="assets/images/icons/icon-information.svg"
                            alt="{{
                                'inventories-footprint.application.tooltip.impact'
                                    | translate
                            }}"
                            pTooltip="{{
                                'inventories-footprint.application.tooltip.impact'
                                    | translate
                            }}"
                            tooltipEvent="focus"
                            tooltipPosition="right"
                            tabindex="0"
                        />
                    } @else {
                        <img
                            class="small-info"
                            src="assets/images/icons/icon-information.svg"
                            alt="{{
                                'inventories-footprint.application.tooltip.app-impact'
                                    | translate
                            }}"
                            pTooltip="{{
                                'inventories-footprint.application.tooltip.app-impact'
                                    | translate
                            }}"
                            tooltipEvent="focus"
                            tooltipPosition="right"
                            tabindex="0"
                        />
                    }
                </div>
            </div>
        </div>
        <div class="flex flex-column align-items-center mt-4">
            <p-card class="rmv-padding-card w-14rem">
                <div class="flex flex-row justify-content-evenly p-2 my-2">
                    <button
                        [class]="!isSip ? 'round-button-selected' : 'round-button'"
                        (click)="updateSelectedUnite('impact')"
                        [innerHTML]="selectedCriteria().unite"
                    ></button>
                    <button
                        [class]="isSip ? 'round-button-selected' : 'round-button'"
                        (click)="updateSelectedUnite('peopleeq')"
                    >
                        {{ "common.peopleeq" | translate }}
                    </button>
                </div>
            </p-card>
        </div>
    </p-card>
</div>
