<div class="form-container">
    <form>
        <div class="label-input-div-full-server">
            <label for="typeInput">Type</label>
            <p-dropdown appendTo="body" inputId="typeInput" [options]="[{label: 'Server', value: 'server'}]" optionLabel="label"></p-dropdown>
        </div>

        <div class="form-section">
            <div class="form-row">
                <div class="label-input-div-form">
                    <label for="cpu-cores">CPU cores</label>
                    <p-inputNumber inputId="cpu-cores" value="30"></p-inputNumber>
                </div>
                <div class="label-input-div-form">
                    <label for="gpu-count">GPU count</label>
                    <p-inputNumber class="input-number" inputId="gpu-count" value="2"></p-inputNumber>
                </div>
                <div class="label-input-div-form">
                    <label for="gpu-memory">GPU memory (GB)</label>
                    <p-inputNumber inputId="gpu-memory" value="32"></p-inputNumber>
                </div>
                <div class="label-input-div-form">
                    <label for="ram-size">RAM size (GB)</label>
                    <p-inputNumber inputId="ram-size" value="64"></p-inputNumber>
                </div>
            </div>
        </div>

        <div class="form-section">
            <h3>Power effectiveness</h3>
            <div class="form-row">
                <div class="label-input-div-form">
                    <label for="datacenter-pue">Datacenter PUE</label>
                    <p-inputNumber inputId="datacenter-pue" value="1,5"></p-inputNumber>
                </div>
                <div class="label-input-div-form">
                    <label for="complementary-pue">Complementary PUE</label>
                    <p-inputNumber inputId="complementary-pue" value="1,3"></p-inputNumber>
                </div>
            </div>
        </div>

        <div class="form-section">
            <h3>Energy efficiency</h3>
            <div class="label-input-div-full-server">
                <label for="location">Location</label>
                <p-dropdown appendTo="body" inputId="location" [options]="[{label: 'Germany', value: 'germany'}]" optionLabel="label"></p-dropdown>
            </div>
        </div>

        <div class="button-bottom-right">
            <button class="yellow-button" pButton type="submit">Sauvgarder</button>
        </div>
    </form>
</div>