.top-header {
    .white-g4,
    .green-it {
        color: #fff;
        font-size: 33px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-top: 10px;
    }
    .green-it {
        color: #00ba00;
    }
}

.org-menu-new {
    display: none;
    position: absolute;
    color: black;
    top: 70px;
    right: 41px;
    max-height: 360px;
    z-index: 100;
}

.account-menu {
    display: none;
    color: var(--tints-black-100);
    top: 70px;
    right: 22px;
    width: 324px;
    position: absolute;
    height: 300px;
    z-index: 100;
}

p-button .name-circle {
    background: var(--blue-color);
}

.text-black {
    color: #000000;
}

.help-center-color {
    color: var(--tints-black-100);
}

.dialog-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
}

.dialog-close-button {
    width: 2.5rem;
    height: 2.5rem;
    border: 0 none;
    background: black;
    border-radius: 50%;
    transition:
        background-color 0.2s,
        color 0.2s,
        box-shadow 0.2s;
    align-items: center;
}

.dialog-close-button:enabled:hover {
    border-color: transparent;
    background: rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 992px) {
    .mobile-menu .orgNameMenuBtn {
        width: 100%;
    }

    .org-menu-new {
        z-index: 1101 !important;
        top: 135px;
        right: 5%;
        width: 90%;
    }

    .sidebar-with-menu {
        height: calc(100vh - 145px);
    }
}
