<div>
    <p-select
        appendTo="body"
        [(ngModel)]="type"
        [options]="fileTypes"
        optionLabel="text"
        class="h-3rem mr-3"
    ></p-select>
    <p-fileupload
        mode="basic"
        id="file{{ index }}"
        #fileUpload
        [customUpload]="true"
        [auto]="false"
        [chooseIcon]="file?.name ? 'pi pi-upload' : 'pi pi-plus'"
        [chooseLabel]="file?.name || fileUploadText"
        [styleClass]="file?.name ? 'custom-file-upload has-file' : 'custom-file-upload'"
        [accept]="allowedFileExtensions.join(',')"
        (onSelect)="onFileChange($event)"
        [attr.title]="file?.name || fileUploadText"
        class="mr-3"
    >
    </p-fileupload>

    <p-button
        class="mt-1"
        icon="pi pi-times"
        (onClick)="onDeleteButton()"
        [text]="true"
        [ariaLabel]="'administration.delete' | translate"
    ></p-button>
</div>
