<div>
    <p-select
        appendTo="body"
        [(ngModel)]="type"
        [options]="fileTypes"
        optionLabel="text"
        styleClass="w-16rem h-3rem"
    ></p-select>
    <p-fileupload
        #fileUpload
        styleClass="bg-black text-2xs letter-spacing-2 w-15rem mx-2 h-3rem uppercase"
        id="file{{ index }}"
        mode="basic"
        chooseLabel="{{ fileUploadText }}"
        [ariaLabel]="fileUploadText"
        accept="{{ allowedFileExtensions.join(',') }}"
        [customUpload]="true"
        (onSelect)="onFileChange($event)"
    >
    </p-fileupload>
    <p-button
        class="mt-1"
        icon="pi pi-times"
        (onClick)="onDeleteButton()"
        [text]="true"
        [ariaLabel]="'administration.delete' | translate"
    ></p-button>
</div>
