<app-digital-services-footprint-header
    [digitalService]="digitalService"
    [isEcoMindAi]="false"
    [isSharedDs]="true"
>
</app-digital-services-footprint-header>
<p-scrollPanel
    #scrollPanel
    [style]="{
        width: '100%',
        height: 'calc(100vh - 100px)',
    }"
>
    @if (!isMobile()) {
        <p-menubar
            [model]="tabItems"
        ></p-menubar>
    } @else {
        <p-select
            styleClass="w-full my-2"
            [options]="tabItems"
            optionLabel="label"
            [(ngModel)]="selectedTab"
            (onChange)="onTabChange($event.value)"
            [placeholder]="'common.ds-menu' | translate"
        ></p-select>
    }

    <router-outlet></router-outlet>
</p-scrollPanel>
